[2021-10-28 20:31] entity opened #1 "[DATE-PICKER] Re-selecting a date causes a styling issue"
Hi,

When selecting a date picker for the first time, it shows up correctly as you would expect like so;
![image](https://user-images.githubusercontent.com/47271716/139330994-0529479f-bcc8-4ffd-9133-ba499a82968b.png)

However, after re-selecting it (solely just clicking another date) it turns into weird random rounded date entries
<img width="478" alt="CleanShot 2021-10-28 at 9 31 12@2x" src="http

[2021-11-08 18:03] stanislavhannes opened #3 "Javascript doesn't work in Vue3"
Hey there,
I am using a fresh project with tailwind2, flowbite 1.1.1 and vue3. The backend stack ist laravel 8 (php8) with inertia.js.
If I'm creating a modal inside a Vue component, then I can't open/toggle the model (data-modal-toggle="default-modal" is set to the button) .
It only works, if i move the button and modal out of the component, into the final html generated site (with Blade Template

[2021-11-12 19:20] radudiaconu0 commented on #3
i have this issue too on a simple vue 3 project with either vite or webpack

[2021-11-13 14:03] zoltanszogyenyi opened #5 "Build a new input group component page with more input styles, options, and variations"

[2021-11-13 14:05] zoltanszogyenyi opened #6 "Add more styles and options to the modal component and fix the outside click bug"

[2021-11-13 14:05] zoltanszogyenyi opened #7 "Build a separate page for the toggle and switch elements"

[2021-11-13 14:05] zoltanszogyenyi opened #8 "Create a new color picker component"

[2021-11-13 14:06] zoltanszogyenyi opened #9 "Create a new component for file upload including a dropzone option"

[2021-11-13 14:06] zoltanszogyenyi opened #10 "Build a new select menu component page with custom menu styles"

[2021-11-13 14:06] zoltanszogyenyi opened #11 "Build a new textarea component page with multiple styles"

[2021-11-13 14:06] zoltanszogyenyi opened #12 "Build a new component page for radio groups with multiple layouts and styles"

[2021-11-13 14:07] zoltanszogyenyi opened #13 "Design and create a new input slider and range slider component"

[2021-11-13 14:07] zoltanszogyenyi opened #14 "Design and create floating labels option for input elements"

[2021-11-13 14:07] zoltanszogyenyi opened #15 "Build a new component page for checkboxes with multiple layouts and styles"

[2021-11-18 16:34] jcuenod opened #17 "mini-svg-data-uri dependency"
Forgive my drive by issue filing but I noticed that `mini-svg-data-uri` is a dependency (in `plugin.js`).
It seems that you're just using it for background images. Couldn't this be done at compile time?

[2021-11-19 06:50] aggmoulik commented on #15
Hey @zoltanszogyenyi This is for creating the documentation page for the respective component. Can I work on the issue ?

[2021-11-19 13:43] zoltanszogyenyi commented on #15
Hey @aggmoulik,

Sure thing. We're thinking about creating states (ie. disabled, active) and positioning (vertical, horizontal) for the checkbox elements similar to what Bootstrap 5 has:

https://getbootstrap.com/docs/5.1/forms/checks-radios/

We're also thinking about creating addition checkbox group styles similar to this:

https://tailwindui.com/components/application-ui/forms/checkboxes (with

[2021-11-19 13:48] zoltanszogyenyi opened #18 "Dark mode switcher + styles"
We already have the styles for a dark mode so we're thinking about building a switcher and implement a dark mode using the dark mode functionality from Tailwind CSS.

[2021-11-22 17:46] oerts opened #19 "Button code examples have margins by default"
I used a couple of buttons on one of my projects recently. The code that I copied includes exterior margins that effect the page layout when used without editing.

I think it would be best if another solution was implemented as to how the elements are displayed on flowbite.com. That way it wouldn't cause unnecessary debugging to potential implementations.

[2021-11-29 17:30] #18 closed

[2021-12-02 09:22] SalimiHabib commented on #3
same issue in Blazor web assembly
flowbite.bundle.js exist in client side but  not working at all

[2021-12-02 09:34] zoltanszogyenyi commented on #3
The way the `flowbite.bundle.js` works is that it looks for the data attributes and then applies event listeners, this means that the JS needs to have an already rendered DOM to make it work.

We are aware of the compatibility issues regarding virtual DOM based libraries and frameworks, we're trying to find solutions.

Please take into account that the other non-interactive components (ie. buttons

[2021-12-03 12:29] #15 closed

[2021-12-03 12:29] #14 closed

[2021-12-03 12:29] #13 closed

[2021-12-03 12:29] #12 closed

[2021-12-03 12:29] #11 closed

[2021-12-03 12:29] #10 closed

[2021-12-03 12:30] #9 closed

[2021-12-03 12:30] #8 closed

[2021-12-03 12:30] #7 closed

[2021-12-03 12:30] #6 closed

[2021-12-03 12:30] #5 closed

[2021-12-03 12:30] zoltanszogyenyi opened #22 "Make Flowbite compatible with Tailwind CSS v3.0"
After Tailwind CSS hits v3.0 we should also release a version supporting it https://github.com/tailwindlabs/tailwindcss/releases/tag/v3.0.0-alpha.2

[2021-12-03 12:32] zoltanszogyenyi opened #23 "Build a new accordion component"
We'll build the accordion based on this design.

<img width="1347" alt="Screenshot 2021-12-03 at 15 39 44" src="https://user-images.githubusercontent.com/8052108/144611841-79abb760-a5e8-4797-a3c0-a4a7360c0eae.png">

[2021-12-03 13:07] zoltanszogyenyi opened #24 "Build a new range slider component"
We'll build the component based on this design.

<img width="752" alt="Screenshot 2021-12-03 at 15 37 04" src="https://user-images.githubusercontent.com/8052108/144611414-a7d69135-d30e-4437-928f-c38690d3b3c5.png">

[2021-12-03 13:32] zoltanszogyenyi opened #25 "Build an autocomplete component"

[2021-12-03 13:37] zoltanszogyenyi commented on #24
<img width="752" alt="Screenshot 2021-12-03 at 15 37 04" src="https://user-images.githubusercontent.com/8052108/144611414-a7d69135-d30e-4437-928f-c38690d3b3c5.png">

We'll build the component based on this design.

[2021-12-05 12:33] zoltanszogyenyi opened #26 "Build a carousel slider component"

[2021-12-05 12:35] zoltanszogyenyi opened #27 "Build a spinner component"

[2021-12-07 15:50] loranger opened #30 "DatePicker options"
Hello,

I cant figure out how I can pass option to the datepicker, using javascript.

I tried
[code]

But it does not work. My Datepicker is displayed and works but I cannot change any option using JS declaration.
What did I miss ?

[2021-12-07 16:10] zoltanszogyenyi commented on #30
Hey @loranger,

Did you install and include the datepicker plugin following this?

https://flowbite.com/docs/plugins/datepicker/#javascript

[2021-12-07 16:20] loranger commented on #30
Thanks for your reply !

In order to reply, I tried to add some other options, such as title, and it worked.
So I was writing the issue only exists with the date format, until I realized I needed to change the format in order to use another format.

My bad.
Sorry for the noise, and thank again for your support

[2021-12-07 16:20] #30 closed

[2021-12-10 06:42] DanielCambray opened #32 "Datepicker locale"
Hi,

I have installed the datepicker from then CDN and it works just fine. I can change the format with `datepicker-format="dd/mm/yyyy"`. I try now to change the locale with `datepicker-locale="fr-FR"` and/or  `datepicker-language="fr"`. But the locale is still "en". Did I miss something ?

Thanks.

[2021-12-10 21:59] zoltanszogyenyi commented on #32
Hey @DanielCambray,

We'll address this issue in the v1.2.1 update.

[2021-12-12 13:00] zoltanszogyenyi opened #33 "Build social media buttons (login with, register with) using the new bg-[#hex] syntax from TW v.3.0"

[2021-12-13 16:10] arthurgeek opened #36 "[Feature request] [Documentation]: Add classes for each variation in the end/beginning"
Sorry if this is not the correct place to add a feature request.

Looking at the documentation, it's really hard to see which of the classes are part of the base component (they're the same in all variations) and which are specific to that variation. Take a look here: https://flowbite.com/docs/components/buttons/.

I'd like to propose that all classes that are part of the base component comes eith

[2021-12-13 16:17] zoltanszogyenyi commented on #36
Hey @arthurgeek,

Can you give me an example of how you would like to see the first example of buttons?

Thanks.

[2021-12-13 17:06] arthurgeek commented on #36
Sure!

Something like this:

[code]

So, base styles (styles that applies to all variants) first, followed by variant-specific after. Ideally, within the variant specific, you could also follow an order (eg: bg-related classes first, text-related, border-related. I have not done this for all classes in the example above, but hope it's clear enough). Then, all the dark classes follow soon after.

T

[2021-12-13 17:22] zoltanszogyenyi commented on #36
It makes sense and it would definitely improve the readability of the components. If you feel like you're willing to invest your time into organizing the class orders in a particular way, I would be more than glad to approve your PR for that. Others could join in helping as well.

Before doing that, however, we should decide on the order of the classes. I recommend that we should start with the no

[2021-12-13 19:23] zoltanszogyenyi opened #38 "Integrate an Algolia powered search bar"

[2021-12-15 09:17] zoltanszogyenyi opened #39 "Build pills (rounded corners xl) for buttons as a new style"

[2021-12-15 09:18] zoltanszogyenyi opened #40 "Build a button gradient style using the new TW v3.0 classes"

[2021-12-15 09:20] zoltanszogyenyi opened #41 "Research colored shadows + apply them for some of the components where applicable (ie. buttons, cards)"

[2021-12-15 09:21] zoltanszogyenyi opened #42 "Button with label inside"

[2021-12-16 05:18] rajeshtva opened #43 "default integration doesn't seem to work for nuxt js"
**Is your feature request related to a problem? Please describe.**
the methods that are described in the default quickstart guide doesn't seem to work for nuxt.js v2.15. please elaborate it.

**Describe the solution you'd like**
a proper guide on how to integrate with some document /video on how to integrate with different frontend frameworks. (in my case vue js applications)

[2021-12-17 14:13] #42 closed

[2021-12-17 14:14] #41 closed

[2021-12-17 14:14] #40 closed

[2021-12-17 14:14] #39 closed

[2021-12-17 14:14] #33 closed

[2021-12-19 19:52] edwin177 opened #46 "Example for using with Remix?"
Has anyone tried using flowbite with remix? I'd love to see an example getting the custom js file to load.

[2021-12-20 02:38] n-studio commented on #3
A simple way would be to encapsulate the event listeners into a public function (let's say `Tooltip.start();`) and let the user call it in their own listeners.

[code]

[2021-12-20 08:21] zoltanszogyenyi opened #48 "Make Flowbite JS compatible with React & Vue and write a guide before the release of the official React & Vue component library"
Based on many requests from users the Flowbite JS event listeners are not being registered when using a project like React or Vue.

[2021-12-22 16:01] franzbewerunge opened #51 "flowbite not working with NextJS"
**Issue**
- We have installed flowbite to our react project by following recommended steps via npm. We added it to tailwind config etc
- The code is just not working properly. The effects (e.g. tooltip) do not show on hover. If we try to import it directly (via `import '@themesberg/flowbite';`  we get an error `document not found`.
- Is it correct to inject the script just with `<script src="../pa

[2021-12-23 12:52] volp99 commented on #51
I got the same problem right now!
I'll try to fix it.

<img width="940" alt="Schermata 2021-12-23 alle 13 49 16" src="https://user-images.githubusercontent.com/56846676/147242992-7c8cc8a1-0269-4239-80d7-f39357c54104.png">
.

[2021-12-23 13:32] zoltanszogyenyi commented on #51
@volp99 feel free to also fork the project as you may need to update the JS from Flowbite

[2021-12-27 10:50] ozamamurzleen commented on #51
Same issue here followed all steps mentioned on their site. Using it via npm and nextjs/tailwind. Sometimes it works and sometimes when page reloads it start giving document not found error.

[2021-12-27 10:53] franzbewerunge commented on #51
@zoltanszogyenyi thanks for your reply. Is there a way to fix this without a (rather convenien cumbersome) fork?

[2021-12-28 14:04] Sayoko123f opened #53 "Is missing a blank space?"
Suspected error in [navbar](https://flowbite.com/docs/components/navbar/):

[code]

Is the class name "hover:bg-gray-100focus:outline-none" missing a blank space in the middle?

[2022-01-03 01:48] Brendon3578 opened #55 "[Bug report] Tab content disapear when you click the current tab"
Hello everyone,
I found an error on the "**Interactive Tabs**" Component,
As soon as the page launches, if you click on the current tab (the tab that is active), the "tab content" just disappear.
This error happens on the documentation page too:
https://flowbite.com/docs/components/tabs/#interactive-tabs
Go to the interactive tabs section, and click on the **Dashboard** tab

(Sorry if you don't un

[2022-01-03 10:34] zoltanszogyenyi commented on #53
Hey @Sayoko123f,

Thanks for spotting this. It does look like a missing space.

If you want to, you can open a PR about this and you'll be marked as a contributor.

Alternatively, I'll solve it myself.

Thanks!

[2022-01-03 10:35] zoltanszogyenyi commented on #51
Hey @franzbewerunge,

One way to work with Flowbite with React/Vue would be to include only the Tailwind CSS plugin and code the interactive behaviour yourself or with the help of an external library.

We will create a project on Github for React and Vue and we'll start building the components with the community. ETA is probably a few months.

[2022-01-04 02:23] Sayoko123f commented on #53
I have seen your patch.

Thanks!

[2022-01-04 02:23] #53 closed

[2022-01-04 15:31] aleqsio commented on #3
Unfortunately this makes the library unusable in what amounts to i'd wager 80% of modern web applications :/
I'm making a hack like this to make it work, but i'd suggest a more performant solution down the line.

Edited the flowbite.bundle.js with the following addition:
[code]
And replaced each of the 5 top level occurences of
`document.querySelectorAll(*some selector*).forEach(function`
with
`li

[2022-01-04 15:42] zoltanszogyenyi commented on #3
I'll look into this solution tomorrow. Thanks.

[2022-01-04 15:43] zoltanszogyenyi commented on #3
Thanks for the workaround and info.

We are looking into a solution to make the event listeners work overall.

We also started a project where we will build separate React and Vue components.

[2022-01-04 16:02] aleqsio commented on #3
No worries, thanks for looking into this. Hope there'll be an official solution soon :)
I think even exporting the individual functions as onClick handlers would be a significant step up in functionality while being a small workload.

[2022-01-06 19:40] zoltanszogyenyi commented on #3
With the v1.3.0 release of Flowbite we have now solved the problem of event listeners not registering with front-end libraries and frameworks such as React.js and Vue.

Please check out this guide on how to use [Tailwind CSS and Flowbite inside a Vue project](https://flowbite.com/docs/getting-started/vue/).

[2022-01-06 19:42] #48 closed

[2022-01-06 19:43] zoltanszogyenyi commented on #43
Hey @raekcya,

Please update Flowbite to v1.3.0 and check out whether the interactive elements are working now.

Thanks.

[2022-01-06 19:43] zoltanszogyenyi commented on #51
Hey everyone,

Please update Flowbite to v1.3.0 and check out whether it works for Next JS or not.

We've tested it for React and Vue.js and it works (it didn't work before).

Thanks!

[2022-01-06 19:44] #22 closed

[2022-01-06 19:47] #38 closed

[2022-01-06 20:13] volp99 commented on #51
Hello!
I update Flowbite to v1.3.0 right now but unfortunately still not works for Next JS (same error: document is not defined)

[2022-01-06 20:21] zoltanszogyenyi commented on #51
Hello,

Try importing the JS as described here:

https://www.kindacode.com/article/how-to-correctly-use-bootstrap-5-in-next-js/

Let me know if it helps!

[2022-01-06 20:37] volp99 commented on #51
Thanks for your reply,

I follow the steps as described above but I always get the same error. I try also to install again all the dependencies but nothing.

I'm going to find another way!

[2022-01-06 20:40] zoltanszogyenyi commented on #51
@volp99 that is odd. I'll check it out with a fresh NextJS install the next few days. Please let me know if you've made progress.

[2022-01-06 20:44] volp99 commented on #51
@zoltanszogyenyi  of course and thank you!

[2022-01-07 12:00] Dizzzlectic opened #56 "JS elements not working in Webpack with Tailwind v3"
**Describe the bug**
I have a fresh installation of Tailwindcss 3 and latest version of Flowbite installed via NPM and using Webpack 5 as my bundler.
Flowbite styles are working perfectly but all JS powered elements aren't working it seems.

**To Reproduce**
Steps to reproduce the behavior:
1. Check out https://github.com/Dizzzlectic/flowbite-test
2. Install dependencies (npm install)
3. Run the p

[2022-01-07 12:09] zoltanszogyenyi commented on #56
Hey @Dizzzlectic,

I've cloned the repo and JS actually works. The hidden class is being applied. It seems like you need to include the Flowbite library's JS inside the content key from `tailwind.config.js` so the `hidden` class is registered.

[2022-01-07 12:42] Dizzzlectic commented on #56
@zoltanszogyenyi Oh, really? That's brilliant then. Do you have an example for me? I don't think I came across something like that in the documentation. :)

[2022-01-07 12:44] zoltanszogyenyi commented on #56
Try something like this:

`content: ['./src/**/*.{js,jsx,ts,tsx,vue,html}', 'node_modules/@themesberg/flowbite/**/*.js'],`

The path may not be correct, but this should solve the issue.

[2022-01-07 12:45] zoltanszogyenyi commented on #56
Alternatively, you could also add your own bundled JS via Webpack as it will contain Flowbite's JS automatically.

[2022-01-07 14:03] Dizzzlectic commented on #56
@zoltanszogyenyi I didn't think of that, actually. Anyway, that worked like a charm. Thank you so much. Should this maybe be part of the documentation or is this an implied thing? :)

[2022-01-07 14:06] franzbewerunge commented on #51
@zoltanszogyenyi I can confirm that it does not work for following config:
[code]

Thanks for looking into this!

[2022-01-07 14:07] franzbewerunge commented on #51
@volp99 Would be amazing if you could let me know in case you find a solution or other workaround :-)

[2022-01-07 14:48] zoltanszogyenyi commented on #56
You're very welcome!

Yes, it should. Good thing we have a community pointing the issues out :)

I'll add it soon to the quickstart guide.

[2022-01-07 14:50] zoltanszogyenyi commented on #51
Look like this is NextJS specific problem. I'll look into it better next week.

If you find a workaround, or more info on this, let me know.

[2022-01-08 10:04] salvatorecalo opened #57 "Js components doesn't work with nuxt"
The js part of this library doesn't work with nuxt framework (Vuejs). I tried to include the import both in my AppBar.vue and in the main.js app but it doesn't work. I followed all the steps to download and include the library i my project, but while css part has been working, the js part doesn't and **DOESN'T RETURN ANY ERROR IN CONSOLE**
My repo: https://github.com/salvatorecalo/salvatorecalo.gi

[2022-01-08 14:16] zoltanszogyenyi commented on #57
Hey @salvatorecalo,

It seems that this problem is associated with statically generated websites that are based on virtual DOM's like NextJS and Nuxt. We'll take a good look into this next week and see if we can provide support before we finish the standalone React & Vue.js libraries which will work seamlessly with these technologies.

[2022-01-08 14:28] salvatorecalo commented on #57
Ok, Tomorrow I'll try!

[2022-01-09 18:21] #56 closed

[2022-01-10 10:41] aleqsio commented on #3
Hmm, let me get this straight:
You're using `document.addEventListener('DOMContentLoaded'` so it still won't work anytime there is a programmatic change in DOM after initial load?
What about cases like using react-router - will all interactive components not work on rr pages?
What about initial loading spinners?

I'm either missing something and integrated this wrong, or this still doesn't work fo

[2022-01-10 10:47] zoltanszogyenyi commented on #3
Hey @aleqsio,

Can you send me a repo to test that out?

Thanks!

PS: we'll launch a standalone React and Vue.js component library at the beginning of Q2, so all of these problems will be solved and you won't need to use the data attributes anymore.

[2022-01-10 22:52] Rykuno commented on #51
I'll just give this a +1. Utilizing NextJS 12 and receiving this exact error when attempting to utilize.

[2022-01-11 10:49] bonesoul commented on #51
same here with next 12

[2022-01-11 13:55] zoltanszogyenyi commented on #56
@Dizzzlectic

Instructions have been [added to the docs](https://flowbite.com/docs/getting-started/quickstart/) :)

[2022-01-12 04:33] DoIttikorn opened #59 "[CSS] you should fix css dropdown navbar on example website"
ref: https://flowbite.com/docs/components/dropdowns/#

![image](https://user-images.githubusercontent.com/57912233/149064081-5fee5ee3-1ad9-4a79-980d-6b7f9d567a1f.png)

menu dropdown  hover css  white text on light mode because you write `md:hover:text-white`  maybe change css to `md:hover:text-blue-700`

[2022-01-14 08:09] MilesWuCode commented on #3
+1 , not working vue-router , only index.vue

vite + vite-plugin-vue-layouts + vite-plugin-pages + vue-router

[2022-01-14 13:06] Morzaram commented on #3
I'm having the same issue with basic html5 setup (using rails 7)

The dropdown no longer triggers after a page change. I have to refresh the page.

[2022-01-14 15:09] oxynad commented on #57
I believe I have the same issue with the Datepicker not working in my NextJS project.

[2022-01-14 16:12] DoIttikorn commented on #59
this pull request
https://github.com/themesberg/flowbite/pull/60

[2022-01-15 00:04] CFarhad opened #61 "Build flowbite for svelte js"
Hi.
React or vue are need a flowbite components and i think you can create component for svelte js and this is good idea .

[2022-01-15 04:39] bragamat commented on #51
Another (hideous)  way to make this work would be adding the js directly on the an `Script` (https://nextjs.org/docs/basic-features/script#afterinteractive) tag.

so, for example, we would add this on the `_app.js`
[code]

[2022-01-15 06:01] gerasimovs commented on #57
I wrote the code for dynamic DOM elements, please do not judge strictly - I'm a backend developer.
Hope it solves your problem

[code]

[2022-01-15 08:12] franzbewerunge commented on #51
Thanks for looking into this! This solution still doesnt work for me (e.g. the tooltip just does not appear on hover).

[2022-01-16 14:39] CFarhad opened #62 "wrong toast position"
Hello.
i find a bug in [Toast position](https://flowbite.com/docs/components/toast/#position)
it not show true in demo .
![image](https://user-images.githubusercontent.com/44419462/149664539-f7645d07-30eb-46d9-81d0-9bc412fc4c8b.png)

[2022-01-16 15:57] #59 closed

[2022-01-17 09:37] zoltanszogyenyi commented on #62
Hey @CFarhad,

It looks like it's a caching problem. Try to clear it using ctrl (cmd) + shift + r.

[2022-01-18 00:02] CFarhad commented on #62
thank you its working .
but if everyone has this problem you can not say to him clear your cache !
i think you need removing caching from js & css files

[2022-01-18 00:17] zoltanszogyenyi commented on #62
@CFarhad you're right, fixed it with query strings since we still want to cache the JS and CSS files for increased performance

https://github.com/themesberg/flowbite/commit/e55cc1429f249636ea7d183f643c7beda3f01737

[2022-01-18 00:18] #62 closed

[2022-01-18 08:35] bjorntj commented on #32
Has this been resolved in 1.3.0?

[2022-01-18 08:36] bjorntj commented on #25
Any progress on this one?

[2022-01-21 18:18] chizytony opened #65 "Issue with interactive elements on Nuxt.js"
All interactive elements like Tab, Dropdown and modal seems to stop working when you leave current page and back back to the page on Nuxt.js

[2022-01-22 21:41] Arci224 opened #66 "Interactive Tabs Disappear content"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['Interactive tabs'](https://flowbite.com/docs/components/tabs/)
2. Click on Default active tab two times
3. Tab content will disappear and you have to click another and back.

**Expected behavior**
Content still will be shown

**Screenshots**
X

**Desktop (please co

[2022-01-22 22:07] shinokada commented on #61
I also want to know how to install Flowbite to SvelteKit.

[2022-01-22 22:31] shinokada opened #67 "Not able to set up Flowbite on SvelteKit"
## Describe the bug
I'm trying to install Flowbite on SvelteKit.
When I run `npm run dev`, I get an error:

[code]

## To Reproduce

Install SvelteKit:

[code]

Install Tailwind Css and Flowbite:
[code]

Update the TailwindCSS config.

In the tailwind.config.cjs file:

[code]

Adding flowbite to `routes/__layout.svelte`:

[code]

## Expected behavior

No error.

**Screenshots**
![image](https://us

[2022-01-23 11:20] Arci224 commented on #66
I see another same report as my: #55

[2022-01-24 10:12] iamhimanshusrivastava commented on #51
Now, it's been a month but the issue has not been solved yet.

[2022-01-24 10:28] franzbewerunge commented on #51
The problem does indeed not seem to be solved yet, unfortunately.

[2022-01-24 13:49] zoltanszogyenyi commented on #51
We are aware of the problem and the best solution is to create a standalone React component library based on Flowbite, which we will shortly get started with right after shipping an update for the Flowbite website.

We'll create contribution guidelines so anybody who would like to offer help, can do so.

Until then, there's a temporary solution that can be used found by @branko from our Discord se

[2022-01-25 07:24] zoltanszogyenyi commented on #66
Thanks @Arci224 for the report.

Will patch this soon.

[2022-01-26 01:54] shinokada commented on #67
For now, this is my solution. But I hope there will be a better solution.

1. In the `src/app.html`, I add `flowbite.min.js` just before the body tag.

[code]

2. Create `__layout.html` and add the flowbite CSS. Don't use `<svelte:head>`.

[code]

If you use the `<svelte:head>`, the flowbite CSS will come after TailwindCSS and it won't work.

[2022-01-26 07:36] shinokada commented on #67
I wonder why importing ` @themesberg/flowbite`, works on Svelte [REPL](https://svelte.dev/repl/6018a7c32903428d8beedad930b6b98d?version=3.46.2).

But it doesn't work with SvelteKit locally.
Does anyone have any ideas?

[2022-01-28 13:04] tdashworth opened #69 "Asp.Net Blazor support"
**Is your feature request related to a problem? Please describe.**
As a .NET developer, I would love to use this library in my Blazor project

**Describe the solution you'd like**
A Nuget package, similar to NPM for React and Vue.

[2022-01-28 16:05] raekcya commented on #43
it does work now. thank you for wonderful ui kit.

[2022-01-28 22:00] shinokada opened #70 "closeAlert function for alert"
## Is your feature request related to a problem? Please describe.

I am using Flowbite with Svelte. When I click a link in an alert take me to another page. When I click the browser button to go back to a page, the close button on the alert doesn't work. I need to refresh the page to close it.

## Describe the solution you'd like

The modal has the `toggleModal` function to toggle. If the alert ha

[2022-01-29 03:40] angelhdzmultimedia opened #71 "[BUG] Errors after installing Flowbite"
**Describe the bug**
I have a basic TypeScript Vue 3 Script Setup + TailwindCSS  app with login form and a home page that creates and load posts. It was working like a charm before installing Flowbite.

**To Reproduce**
Steps to reproduce the behavior:
1. Installed Flowbite
2. Added the plugin in the tailwind.config.js
3. Imported in the main.ts
4. See error

**Expected behavior**
Wanted to use th

[2022-01-29 04:03] angelhdzmultimedia commented on #71
### UPDATE
It seems like Flowbite is not compatible with TypeScript. I just created a JavaScript Vue 3 fresh app with Vite, installed Flowbite and it's working 100%.

[2022-01-29 07:05] motahharm opened #72 "Add Right to Left Support"
## Hello to Flowbite team

Some sites are right to left.
But Flowbite may not work properly on these sites !!!!

Do you have a plan to add right-to-left support?
Can I help you add this feature?

[2022-01-29 08:39] marchershey commented on #1
Hey @zoltanszogyenyi, is there an update on this?

I am so excited and ready to make the switch but this is the only thing preventing me from bringing it up to the team. Thanks for any information!

[2022-01-29 08:48] zoltanszogyenyi commented on #72
Hey @motahharm,

We're definitely looking into providing RTL support for Flowbite!

Not sure on the methodology, yet. But this has been added to the roadmap.

If you got any ideas on how to get started, share it with us!

[2022-01-29 08:49] zoltanszogyenyi commented on #1
Hey @marchershey,

We'll look into it for the v1.4.0 update along with the release of new components, such as the carousel and spinner (loader) elements.

You can also [join our Discord Server](https://discord.com/invite/4eeurUVvTy) for chit-chat.

[2022-01-29 14:04] motahharm commented on #72
I would like to help you in this project.

But I do not know what the structure of the project is.
Is there a map?

Can I add PullRequest to the project?

[2022-01-30 09:07] shinokada commented on #67
The above solution doesn't work for page change.
For example, if you have an alert, it won't close the alert.
You need to refresh the page then click the close.

Interactive tabs don't work either unless you refresh the page.

Are there any better solutions?

[2022-01-30 09:09] shinokada commented on #65
Same in SvelteKit.

https://github.com/themesberg/flowbite/issues/67

[2022-01-30 09:20] shinokada commented on #67
I requested to add Flowbite to Svelte-add.

https://github.com/svelte-add/svelte-add/issues/182

[2022-01-30 09:22] zoltanszogyenyi commented on #67
Hey @shinokada,

Thanks for the contribution!

Flowbite is a pretty new library and we're doing our best to keep up with the demand for new components and technology support.

For Q2 this year we expect to launch a standalone React and Vue.js library, and we would have plans for a Svelte integration later this year.

However, if someone else would pull up the sleeves to create an integration for S

[2022-01-30 12:45] shinokada commented on #67
I found the work around for now.

I can solve the problem by adding `rel="external"` to a link.
[Doc](https://kit.svelte.dev/docs#anchor-options-rel-external)

By default, the SvelteKit runtime intercepts clicks on <a> elements and bypasses the normal browser navigation for relative (same-origin) URLs that match one of your page routes. We sometimes need to tell SvelteKit that certain links need t

[2022-01-30 15:09] lazarusking commented on #51
@zoltanszogyenyi
 A weird way got mine working was to copy the collapse.js code (since that was what I wanted) from the @themesberg folder into the `_app.js` file and add a useEffect function like this, so I'm guessing if you need the other functions you'd have  to manually copy the code from themesberg/src folder
[code]
I tried importing flowbite in the `typeof` document if clause but it didn't w

[2022-01-30 23:57] shinokada commented on #51
This is not a solution, but the similar method may circumvents for NextJS.

I had the same problem with SvelteKit.
This is what I did.

1. Adding CSS and JS in the `app.html`.

[code]

This worked ok, but all interactive features were not working.
I need to refresh the page to work.
So I added `rel="external"` to links where I have interactive components.
Adding a [rel=external](https://kit.svelte

[2022-01-31 20:49] shinokada opened #75 "Do I need to load Tailwind CSS?"
I thought the Flowbite loads Tailwind CSS.
But when I try to use [`basis-1/4`](https://tailwindcss.com/docs/flex-basis), it doesn't work.

I'm wondering if I need to load Tailwind CSS as well.

[2022-01-31 20:56] zoltanszogyenyi commented on #75
Hey @shinokada,

Flowbite is a plugin for Tailwind CSS, so by using Flowbite you need to have a Tailwind CSS project.

Indeed, Flowbite's CDN will work because Tailwind CSS would be loaded already, but that is not the recommended way of working with it because the CSS wouldn't be purged.

[2022-02-02 21:09] shinokada opened #80 "Responsive Sidebar"
## Feature request for a responsive sidebar

Adding [a sidebar (like this)](https://kit.svelte.dev/docs) component.

[2022-02-03 21:37] zoltanszogyenyi commented on #80
We had this on the roadmap already :)

ETA probably end of the month.

[2022-02-03 21:58] #80 closed

[2022-02-03 23:23] shinokada opened #81 "Dark mode icon buttons problem"
**Describe the bug**

I followed the doc on how to configure the [Flowbite darkmode](https://flowbite.com/docs/customize/dark-mode/).
[Here is the link to a demo.](https://svelte-flow-demo.vercel.app/)

As you can see in the image below, the button for light mode disappears.

<img width="434" alt="Screen Shot 2022-02-04 at 8 17 00" src="https://user-images.githubusercontent.com/147320/152445446-63

[2022-02-05 04:51] adamlquman commented on #81
You can use java script event like onclick

[2022-02-05 04:54] adamlquman commented on #81
- https://user-images.githubusercontent.com/97489757/152629199-4baee390-0e24-4d82-8d5c-fe40403599f7.mp4

[2022-02-06 15:35] #23 closed

[2022-02-06 15:35] #27 closed

[2022-02-06 21:25] shinokada commented on #81
Ok, I fixed the problem. Maybe someone can improve this but it's working.

[Here is the demo](https://svelte-flow.vercel.app/)

In the `__layout.svelte`

[code]

[2022-02-06 22:25] shinokada commented on #81
I created a component for this.

[Svelte-flow dark mode](https://svelte-flow.vercel.app/darkmode)

[2022-02-07 00:25] #81 closed

[2022-02-07 17:25] adriandelgg commented on #51
Having this issue as well! Very frustrating

[2022-02-08 08:22] sazzer opened #86 "Dropdowns don't work in React if rendered after page load"
**Describe the bug**
When using Flowbite with React, if the page updates after first load to include a dropdown that wasn't originally present then the dropdown doesn't open when clicked.

I assume this applies to all JavaScript but I've not tried any others yet.

There are no console errors and nothing obvious at all in any logs. It just only ever works if the Dropdown HTML was present in the fir

[2022-02-08 08:29] sazzer commented on #86
In fact, I can see from a quick look that the JavaScript is using `DOMContentLoaded` and `document.querySelectorAll`, so it is exactly binding to only the HTML that was present after the DOM first loaded.

Which means that any time the page is updated *after first render* - e.g. in my case when I get an API response - then the Flowbite JavaScript has already run and won't see it.

I *believe* the

[2022-02-09 01:24] impartdan opened #87 "Fire event when toggling a modal"
It would be nice if you triggered and event in the js when toggling a modal. That could provide an opportunity to run functions on open or close. As an example, this could be useful for things like pausing videos on modal close.

[2022-02-09 14:44] filser89 opened #88 "Flowbite with Turbo on rails7"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

I got **Flowbite** working together with **Turbo** in my **Rails 7** project. The original issue was that the javascript worked until the first turbo navigation was made and stoped working after that.

According to [Turbo's documentaction](https://turbo.hotwired.dev/handbook/building#installing-javascript-behavior) this happened because Flow

[2022-02-09 15:52] aacassandra commented on #65
when use import method
i getting some error like this
[code]

im using nuxt

[2022-02-09 16:41] aacassandra commented on #71
and not working with nuxt

[2022-02-10 05:26] rjvim commented on #51
Yep, this issue is not resolved. I am using NextJS with Turborepo, so, not sure what more issues it's going to introduce. Was excited to try out Flowbite.

[2022-02-10 18:49] adriandelgg commented on #51
I found a workaround guys!
Next.js has a [Script tag](https://nextjs.org/docs/api-reference/next/script) that allows you to import scripts.

What I did was added this to my `_app.tsx/js` file:
[code]

After that I added this `<link rel="stylesheet" href="https://unpkg.com/flowbite@1.3.3/dist/flowbite.min.css" />` to the build in Next.js `<Head>` tag.

Once I did that plus add `require('flowbite/pl

[2022-02-11 05:47] kenaszogara commented on #51
Hi @adriandelgg I'm using the exact same way, but still not working for datepicker

https://flowbite.com/docs/plugins/datepicker/#datepicker%20example

[code]

[2022-02-15 18:35] brianshimkus opened #91 "Accordion doesn't open unless I refresh the browser"
**Description**: I have the accordion component on a page and when going to that page from the home page and I click on one of the tabs, nothing happens and the tab doesn't open. Now if I refresh the browser while already on the page, the accordion then will open on click.

[2022-02-15 18:36] zoltanszogyenyi commented on #91
Hey @brianshimkus,

What tech stack are you using? Is there any online preview?

Thanks.

[2022-02-15 18:49] brianshimkus commented on #91
@zoltanszogyenyi This is a site that was created with Create React App. I don't have an online preview as this is for work and in a private repo for the time being.

Unless the accordion is on the originally rendered route, it won't work and I have to refresh the browser to get it to work again.

[2022-02-15 19:22] brianshimkus commented on #91
@zoltanszogyenyi I think this is the same issue as #86

[2022-02-20 11:03] hiroshinishio commented on #51
Anybody can help me?? I am still struggling with this issue.
I tried followings ;

1. Created _document.tsx like this.

[code]

2. Modified tailiwind.config.js like this

[code]

3. Finally created a component to display datepicker like this ;

[code]

But unfortunately it didn't work, which means datepicker didn't show up.

[2022-02-21 19:12] adriandelgg commented on #51
Use the built-in `Script` tag offered by Next.js.

https://nextjs.org/docs/api-reference/next/script

[2022-02-22 08:21] hiroshinishio commented on #51
Thank you for your response, @adriandelgg !!
To clarify, is it necessary to use Next.js built-in upper case `Script` instead of just normal lower case `script`, isn't it??
I am going to try that one.

[2022-02-22 08:49] hiroshinishio commented on #51
Hi @adriandelgg , unfortunately it didn't work...
All I changed are ;

- Replaced 3 script tags into Script tags
- Added `import Script from "next/script";`
- Added 3 strategy params in Script tags but without this, it did not work as well.

Just in case, I pasted modified code below ;

[code]

[2022-02-22 09:01] volp99 commented on #51
Hey @hiroshinishio
Have you tried with this solution? https://github.com/themesberg/flowbite/issues/51#issuecomment-1020120438

[2022-02-22 09:19] hiroshinishio commented on #51
@adriandelgg
Yes, I tried the method above (https://github.com/themesberg/flowbite/issues/51#issuecomment-1020120438), but it didn't work as well.

[2022-02-23 10:47] voitsekhovskymax commented on #86
Is there a solution?

[2022-02-23 14:18] Captp2 commented on #86
I seem to have the same issue with tooltip components.
I have a page with some tabs.
The tabs name have tooltip which always work
Inside the tabs, the tooltip work if i refresh the page, but if i got to another tab and come back, it won't work (but the tooltips of the tab menu themselves do work)

[2022-02-23 19:45] brianshimkus commented on #86
@zoltanszogyenyi Any update to this issue? It's starting to affect a lot of developers and I'm about to migrate my projects from Flowbite to something that works.

[2022-02-23 19:49] zoltanszogyenyi commented on #86
Hey @brianshimkus,

We're preparing a standalone React component library after Monday.

The problem is that the event listeners aren't updating after the virtual DOM change.

An alternative would be to couple Flowbite with Headless UI or write the functionality yourself.

We expect a launch in the next few months in Q2 and that should make every interactive component fully compatible with React an

[2022-02-23 20:56] brianshimkus commented on #86
I just implemented the accordion from Headless UI and it works great.

[2022-02-23 21:52] chainerprince opened #94 "Add support for nextjs"
**Is your feature request related to a problem? Please describe.**
I was frustrated when I tried to use flowbite with nextjs. It failed bringing the error that document is not defined

**Describe the solution you'd like**
I would you to add support for nextjs

**Describe alternatives you've considered**
Consider making this framework friendly to server side rendered apps

**Additional context**
Ad

[2022-02-23 22:09] seanbjornsson commented on #88
Thanks for posting this. I tested your solution on a local version of flowbite.js and it indeed fixed the problem I was having with the js not working.

[2022-02-23 22:37] seanbjornsson commented on #88
Do folks think this will lead to a split? ex. another `your-package-here-rails` gem?
I need to get more familiar with both turbo and the flowbite implementation to know if there is an alternative to this approach that would work for both the turbo and the non-turbo users.

[2022-02-28 18:43] fritzfr commented on #55
+ 1

[2022-03-01 15:51] KinG-InFeT opened #98 "javascript: reinit all events after DOMLoaded"
**Is your feature request related to a problem? Please describe.**
reattach events for all elements or single elements after DOMLoaded

**Describe the solution you'd like**
-

**Describe alternatives you've considered**
i try re-dispatch DOMLoaded with this code
[code]
but all exists elements not work after reinit

**Additional context**
-

[2022-03-01 16:55] KinG-InFeT opened #99 "update tailwindcss lib to latest version (now have 3.0.1) today 3.0.23 is out"

[2022-03-02 12:59] lrusso96 opened #100 "Datepicker: dependencies and issues"
Starting from 6b8af5d6940f22b58119e6a735cdbe36c12f1bb5 the npm package is simply `flowbite`, but the [datepicker plugin](https://github.com/themesberg/tailwind-datepicker) still relies on the old `themesberg/flowbite` package.

I know that this issue is related to the plugin rather than this repo, but the issues on that repository are disabled: I suggest you to enable them in the settings, and mov

[2022-03-02 14:45] INFy93 commented on #3
I also have this problems, but with dropdown elements
Vue 3 + Laravel 8, flowbite 1.3.4
I'm creating table using axios. In one colum I have dropdown with unique "id". But dropdowns isn't work in it.
Outside of element everything works fine.
When im using DaizyUI, dropdowns works. But I have some problems with styling this, so I want use flowbite.
Is any solutions now?..

[2022-03-02 16:25] zoltanszogyenyi commented on #100
Hey @lrusso96,

I'll look into the matter.

[2022-03-02 16:26] zoltanszogyenyi commented on #99
Will update it for the next version after the JS refactorization.

[2022-03-02 16:42] KinG-InFeT commented on #99
ETA?

[2022-03-02 16:51] zoltanszogyenyi commented on #99
2-3 weeks, but you can update Tailwind CSS in your own project since there are no breaking changes for Flowbite.

[2022-03-03 15:46] whanso opened #102 "Overriding plugin config with theme.colors: {...} is not working"
**Describe the bug**
I am working on my tailwind.config.js file that incorporates the flowbite plugin.

Using the `colors` object in  `tailwind.config.js`, I was expecting usages of `gray-300` in my app to be the value I provided, but instead it is picked up as the value in the plugin.

**To Reproduce**
1. Copy the config below into a project using the tailwind.css dependency
2. Use the `text-gray

[2022-03-03 23:22] volp99 commented on #94
Hey @chainerprince !
A issue about Nextjs has already been opened and you can find here the topic https://github.com/themesberg/flowbite/issues/51#issuecomment-1000283380

[2022-03-04 09:43] #91 closed

[2022-03-04 09:44] zoltanszogyenyi commented on #87
Hey @impartdan,

Good idea. I'll implement this with v1.4.0.

[2022-03-05 11:46] zoltanszogyenyi commented on #102
Hey @whanso,

Makes perfect sense. I'll look into this for the v1.4.0 update.

[2022-03-05 12:09] martindavid commented on #51
I've tried all of the above workarounds and still can't get the library to work with nextjs. Will be really helpful if there's a guide for this. I really like this library.

[2022-03-05 20:23] devmanzur commented on #43
@rajeshtva  My interactive components are not working. Can you share how you did it with Nuxt JS?

[2022-03-07 12:30] hubsmoke commented on #86
Hey what was the workaround here?

My situation is that I'm using Tailwind 3.x + React. I have a button with a tooltip, which works, but as soon as the button is removed and later added back and rendered, the tooltip no longer works. I'd be happy to manually call a function to re-initialize the listener, but I don't see this in the docs.

[2022-03-07 12:34] hubsmoke commented on #86
This seems to be duplicate of https://github.com/themesberg/flowbite/issues/98

[2022-03-09 03:26] rajeshtva commented on #43
Today i will make a video and send you link

On Sun, 6 Mar, 2022, 1:53 am Manzur Alahi, ***@***.***> wrote:

[2022-03-09 10:42] bigzooooz commented on #55
i fixed it by disabling button.active on document ready

in jquery:

[code]

[2022-03-09 23:12] alarbada opened #105 "i18n for the datepicker"
Is i18n developed for your datepicker? I cannot see it that option [at the docs](https://flowbite.com/docs/plugins/datepicker)

[2022-03-10 07:23] goodlythink opened #106 "sidebar.js bug in react"
i import sidebar.js in index.js
it error on start
<img width="909" alt="Screen Shot 2565-03-10 at 14 22 36" src="https://user-images.githubusercontent.com/12431734/157609735-0ed17718-f905-4025-b4f4-d6918ac3b56a.png">

[2022-03-10 19:01] ivanjeremic commented on #51
This is not a Nextjs problem, you offer flowbite React so this codebase needs to be rewritten to support SSR & CSR at the same time.

[2022-03-10 22:04] #26 closed

[2022-03-11 14:58] RichForever opened #107 "Dynamically added accordion don't work"
Hi, I'm creating my website in Wordpress. I have list of 10 accordions. They're working great. Below that accordions I have button that adds new accordions based on wp_query. Accordions are added properly but they didn't work - when I'm clicking on the accordion header the body is still hidden. Is there any way to workaround this?

[2022-03-12 15:11] bacali95 commented on #51
Hello guys, I started a while ago implementing [a React library](https://github.com/bacali95/flowbite-react) that contains all Flowbite components which will be SSR friendly and uses hooks instead of the vanilla Javascript logic. It is still in progress but if you want to give a hand all contributions are welcome :smile:

[2022-03-12 15:53] zoltanszogyenyi commented on #51
Thanks, @bacali95.

We'll probably use this as the official library at some point, depending on how the development goes.

[2022-03-13 15:03] rajeshtva commented on #43
@zoltanszogyenyi . another issue found.. if i use `ssr: false` in nuxt js application to build only on client side. then interactive elements doesn't work.

[2022-03-14 13:58] zoltanszogyenyi commented on #67
We now have a [Flowbite Svelte library](https://flowbite.com/docs/getting-started/svelte/) available.

[2022-03-14 13:58] #67 closed

[2022-03-14 13:58] zoltanszogyenyi commented on #61
We now have a [Flowbite Svelte Library](https://flowbite.com/docs/getting-started/svelte/) available.

[2022-03-14 13:58] #61 closed

[2022-03-14 13:59] zoltanszogyenyi commented on #70
This has been fixed for v1.4.0 by using the `onHide` callback function on the `Dismiss` object.

[2022-03-15 09:18] oluwakayode-a opened #111 "Table overflows the body."
**Describe the bug**
I noticed that the overflow-hidden isn't applied to the table component, and it overflows the body on mobile view. I observed the same on the website as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Table element
2. Toggle mobile view

**Expected behavior**
The table should not overflow the body.

**Screenshots**
![image](https://user-images.githubusercontent

[2022-03-15 10:33] zoltanszogyenyi commented on #111
Hey @oluwakayode-a,

Fixed this problem for the v1.4.0 release.

Here's an example of a table element without the overflow issue:

[code]

[2022-03-15 10:53] #111 closed

[2022-03-15 10:53] oluwakayode-a commented on #111
Thank you!!!!!

[2022-03-16 05:47] Nasirinezhad opened #112 "Multi items in carousel"
I need a multi item carousel but I don't like to add another package to my project
so I forked this repo and tried to handle my problem, it's work but has some issues especially with responsive
in what I made total items must be determined in data attribute but it will be so better if it justify items automatically
I hope I have get the point across
tnx

[2022-03-17 17:32] gfernandez-me commented on #70
![image](https://user-images.githubusercontent.com/5313969/158860572-c330a6fc-8888-4bd4-a802-bf5935a3d08d.png)

related to toggleModal, do you guys know a way to hide this warning?

[2022-03-17 20:57] gfernandez-me opened #114 "Flowbite methods error on Vue3 TypeScript"
**Describe the bug**
Warning for TypeScript about toggleModal is not defined

**To Reproduce**
Steps to reproduce the behavior:
1. add flowbite to vuejs
2. add toggleModal inside your code

**Expected behavior**
VsCode will show that toggleModal does not exists
mainly because no method was defined or imported with this name (toggleModal)
the toggleModal function will work, just the warning is impo

[2022-03-18 10:02] anton-ecom opened #115 "Reinitiate close event for dynamically loaded modal"
Useful feature when you want to reuse one modal, loading only content. Thank you.

[2022-03-18 10:03] zoltanszogyenyi commented on #115
Hey @anton-ecom,

We're actually refactoring the core JS using objects, methods, and callback functions.

I believe this issue will be solved once v1.4.0 is out next week.

[2022-03-21 07:49] praktikasysbe opened #116 "how to add flowbite datepicker in angular application"
![image](https://user-images.githubusercontent.com/99985363/159221125-fd9f542f-ba68-4d7e-b935-e928a000b788.png)

I am following the steps as suggest in documentation

npm i @themesberg/tailwind-datepicker --save

As I am importing it into my component file it displaying below error

import Datepicker from '@themesberg/tailwind-datepicker/Datepicker';

Cannot find module '@themesberg/tailwind-datep

[2022-03-21 16:22] #115 closed

[2022-03-21 16:23] zoltanszogyenyi commented on #112
Hey @Nasirinezhad,

Please check out the v1.4.0 update where we decoupled the data attributes logic from the Carousel object.

[2022-03-21 16:23] #112 closed

[2022-03-21 16:24] #107 closed

[2022-03-21 16:24] #99 closed

[2022-03-21 16:25] zoltanszogyenyi commented on #87
You can now use the callback function from the [Modal object](https://flowbite.com/docs/components/modal/#javascript-behaviour).

[2022-03-21 16:25] #70 closed

[2022-03-21 16:25] #66 closed

[2022-03-21 16:25] zoltanszogyenyi commented on #17
Moved to dev dependencies.

[2022-03-21 16:26] #55 closed

[2022-03-22 16:00] ElPerenza commented on #17
Seems like the removal of this dependency now causes Tailwind to crash while trying to load the Flowbite plugin (v1.4.0):
[code]

[2022-03-22 16:18] zoltanszogyenyi commented on #17
Hey @ElPerenza,

You're right, fixed the issue in a v1.4.1 patch.

Thanks for the notice!

[2022-03-22 16:34] dpnishant opened #117 "Pass relevant object references in the tabs.js onShow callback"
IMHO Changing https://github.com/themesberg/flowbite/blob/main/src/components/tabs.js#L74 to the following
[code]
can be really helpful for dynamic manipulation of the active tab elements or any other use-case as suitable. I created this as a feature request as I'm unable to send a PR due to merge conflicts during upstream fetch.

[2022-03-22 22:04] zoltanszogyenyi commented on #117
Hey @dpnishant,

Thanks for the suggestion, it makes sense.

I'm thinking we can release this for v1.4.2 along with the other callback functions.

I think that was a GitHub bug by the way. I think it should work now.

[2022-03-23 16:52] codenashwan commented on #88
thanks :)

[2022-03-24 11:40] KinG-InFeT opened #119 "Allow access to the object instances created via the data attributes API inside JS (usage example problems with the modal component)"
**Describe the bug**
if open modal with javascript, i can't close modal with javascript helper or data-modal-toggle=""

**To Reproduce**
Steps to reproduce the behavior:
1. Go to official site: https://flowbite.com/docs/components/modal/#methods
2. open modal with javascript  from chrome console
3. ``` new Modal(document.getElementById('defaultModal'), null).show(); ```
4. Close modal with (X) ico

[2022-03-24 13:30] sunysunysuny opened #120 "how to add flowbite datepicker in angular application"
![datepicker](https://user-images.githubusercontent.com/27955832/159926833-d8cabcae-b4a5-4c74-92ee-58bc956ca2cd.png)

I am following the steps as suggest in documentation

npm i @themesberg/tailwind-datepicker --save

As I am importing it into my component file it displaying below error

import Datepicker from '@themesberg/tailwind-datepicker/Datepicker';

Cannot find module '@themesberg/tailwind-

[2022-03-24 13:31] #116 closed

[2022-03-25 10:08] HPODEV opened #121 "destroy tooltip event"
can i destroy tooltip event after show with javascript?
https://flowbite.com/docs/components/tooltips/#methods

method available only show and hide, but after hide method tooltip out every

[2022-03-25 11:03] zoltanszogyenyi commented on #119
Hey @KinG-InFeT,

If you use the object methods you need to add the event listeners yourself on the close icon to close the same instance of the Modal.

For example:

[code]

[2022-03-25 11:04] zoltanszogyenyi commented on #121
Hey @HPODEV,

We'll add this feature in the next update.

Can you give me a reference (code) on how to destroy it? You mean removing the instance of the object completely?

[2022-03-25 11:28] KinG-InFeT commented on #119
hi @zoltanszogyenyi ,
thank you for reply, after hide, the mouseenter or hover event continue to work. can i disable tooltip permanently before reuse .show()?

[2022-03-25 12:14] KinG-InFeT commented on #121
hi @zoltanszogyenyi ,
yes completly remove object and event, for example:

- show tooltip now with .show() method or simple with add data-tooltip- into dom
- new method destroy() pass element id (when present data-tooltip-target attribute) or id
- the tooltip should no longer be displayed until I re-execute the show / enable method

I think this method is also indispensable for modals, toast, drop

[2022-03-25 21:57] teddybee commented on #51
Unforunately the solution of  @adriandelgg is not working for me with Nextjs 12.1

`ReferenceError: window is not defined`

[2022-03-28 11:16] zayfix opened #122 "Bad URL for Requires JS button"
**Describe the bug**
Requires JS button lead to a 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['Alerts'](https://flowbite.com/docs/components/alerts/)
2. Click on _Requires JS_
4. See error

**Expected behavior**
Button should lead to the correct page.

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04.4
 - Browser Firefox 98.0.2

[2022-03-28 12:10] bryankeekk commented on #86
Is there any solution for this?

[2022-03-28 12:12] bryankeekk commented on #86
@hubsmoke Hey bro, may I know how to use the solution posted by you? How it works?

[2022-03-28 13:24] KinG-InFeT commented on #119
the background is: modal-backdrop not removed by javascript

[2022-03-28 13:29] KinG-InFeT opened #124 "detect modal is open (javascript)"
can i check modal (by id) is open or not by javascript?

[2022-03-28 13:31] zoltanszogyenyi commented on #124
Hey @KinG-InFeT,

You can use the [callback functions](https://flowbite.com/docs/components/modal/#javascript-behaviour) `onOpen` and `onHide` and store it yourself.

[2022-03-28 13:33] KinG-InFeT commented on #119
@zoltanszogyenyi i resolve my problem with small javascript code (very very simple) with jquery
[code]

[2022-03-28 13:33] KinG-InFeT commented on #124
ok thanks, it would be convenient not to store a lot of information, but to have a simple method to check if the modal is open or not (even a simple check on the hiddens class is present or not)

[2022-03-29 04:42] rotcl commented on #51
Hey buddy, any chance to get included as contributor? I've been trying to replicate some of the components of the main frostbite repo, and I guess I can help during the process.

[2022-03-29 22:02] Sleitnick commented on #86
This affects more than just dropdowns. It looks like most if not all of the components use `DOMContentLoaded` event to trigger these components into existence.

[2022-03-30 04:24] ghost opened #126 "Flowbite Carousel: Failed to execute 'add' on 'DOMTokenList': The token provided must not be empty."
**Describe the bug**
Created a new carousel instanced passed in all the necessary options and got the above error

**JS**
[code]
**### MARKUP**
[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.
carouse

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot (139)](https

[2022-03-30 04:34] shadesOfcodes commented on #126
Found out the bug was caused due to the extra white space presents in the  inactiveClasses,
The particular line in the carousel library leading  to the bug is
[code]

in  _setActiveItem() method
[code]

[2022-03-30 04:43] brianshimkus commented on #86
Have you given Headless UI a try? It worked like a charm for me.

[2022-03-30 07:21] zoltanszogyenyi commented on #86
Hey everyone!

We have recently started working on a standalone [Flowbite React](https://github.com/themesberg/flowbite-react) library on Github and we are getting pretty close to finishing it. We still need some help with a few components and if you'd like, you could fork one of the issues and help us out.

After that the whole React + Next.js compatibility issue will be solved indefinitely.

[2022-03-30 09:01] kkurcz commented on #88
works like a charm 👍

[2022-04-03 06:27] michelvermeulen commented on #119
Hi guys.

Coming from bootstrap modals (pure HTML and Vue), this seems hacky. If I initialize the modal via JS, and toggle it via JS, and then click on a button with data-modal-toggle, the background stays on.

[code]

[code]

![CleanShot 2022-04-03 at 08 26 39](https://user-images.githubusercontent.com/1824611/161414852-0cac31e2-2ced-44ca-8825-f2cab3676c67.gif)

I ended up using custom data-modal

[2022-04-03 06:42] michelvermeulen commented on #119
Alright so looking at the sourcecode, it seems like the lib is automatically creating an instance of the modal via the data-modal-toggle attribute, and then manually creating the modal via custom JS creates another instance of the same modal.

Are there any instructions on how to toggle a modal in the JS without re-creating a new modal instance?

[2022-04-03 22:30] shinokada opened #127 "Full width tabs example doesn't match label and ul"
An [example](https://flowbite.com/docs/components/tabs/) given for a Full width tabs has a `div` tag with countries and `ul` has dashboard etc.

1. Do you need the `div` tag?
2. Shouldn't Options and ul content match?

[code]

[2022-04-04 06:59] abidra commented on #127
1. I think you need the `div` tag because it's the wrapper for `sm` -> small device. So the content inside the div will be shown on the small device only
2. In the demo, the content is different. Because you have an option whether you want to make the content equal both for desktop and mobile or make it different.
3. The label `Select your country` does not show because there's an `sr-only` class.

[2022-04-04 08:56] shinokada commented on #127
@abidra Yes, I understand all your points.
But my main point is that country names in options and the list (Profile, Dashboard, etc.) are nothing to do each other.
So I'm suggesting to update them to make sense.

[2022-04-04 09:25] abidra commented on #127
@shinokada yeah, you are right, it's will make sense.

[2022-04-05 20:15] shinokada commented on #67
@codinkai If you are using SvelteKit, I recommend using [Flowbite-Svelte](https://flowbite-svelte.vercel.app/). It has an [Accordion component](https://flowbite-svelte.vercel.app/accordions/default).
[Here](https://flowbite-svelte.vercel.app/getting-started) is the page how to get started.

[2022-04-06 08:11] codinkai commented on #67
Thank you. That does look really promising and I will definitely give it a try.

Anyway, the method 1 described on https://flowbite.com/docs/getting-started/svelte/ seems not work.

[2022-04-06 10:13] shinokada commented on #67
Which method are you trying? 1, 2, or 3?

[2022-04-06 10:51] codinkai commented on #67
I have followed the instructions of Method 1 and created a file named "accordion.svelte" under src/routes with the contents of the first example https://flowbite.com/docs/components/accordion/. When running with "npm run dev" and accessing it at http://localhost:3000/accordion, the accordion is closed and does not work.

[2022-04-06 10:59] codinkai commented on #67
Ohh, I see the examples from the flowbite website are not supposed to work. It works, when I follow the instrucions on https://flowbite-svelte.vercel.app/getting-started with the examples on https://flowbite-svelte.vercel.app/accordions/default.

Very good library :)

[2022-04-07 11:33] MichalPniak commented on #32
Has it been done? Because in version 1.4.1 it is still not possible to change the language.

[2022-04-08 02:40] skipmaple commented on #88
Worked for me on rails7 project, thanks :)

[2022-04-08 08:50] desprit commented on #86
I'm having a similar issue using Flowbite in my Vue3 application. Tooltips don't work in case elements are dynamically initialized after the page is rendered.

Another scenario where I'm experiencing this issue is when used with Storybooks. After refreshing the page, tooltip works. But if I switch to a different story (page isn't fully reloaded) tooltip no longer shows up.
![Uploading Screenshot 2

[2022-04-08 11:18] KinG-InFeT opened #129 "flowbite.js.map not generated from webpack"
**Describe the bug**
the file flowbite.js.map not generated from webpack (laravel installation)

**Additional context**
Laravel 9
Flowbite 1.4.1
webpack (laravel mix)

[2022-04-08 21:14] shinokada opened #130 "Not a valid ES module"
You might already know this, but just for your information.

I get the following error when I start a SvelteKit server.

<img width="961" alt="image" src="https://user-images.githubusercontent.com/147320/162532351-95d284cc-2fd9-409f-9096-9e34dbfdeb98.png">

[2022-04-11 06:42] siumhossain opened #131 "How to set up Flowbite in NUXT js"
I installed tailwind css from default NUXT cli. And now i want to add flowbite in my nuxt application. How can i do that?
Thanks in advance ❤️

**package.json**
[code]

[2022-04-11 19:18] desprit opened #132 "Prefixes in components"
**Describe the bug**
Tooltip and Dropdown components don't work when tailwindcss prefix is set.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup prefix in the tailwind.config.js:

[code]

2. Create a tooltip component https://flowbite.com/docs/components/tooltips/
3. Add prefixes to default styles
4. Launch your app and see tooltip not working

**Expected behavior**
Components support c

[2022-04-11 23:40] kissu commented on #131
Regarding [this reply](https://github.com/themesberg/flowbite/issues/57#issuecomment-1008003490) and my answer [on Stackoverflow](https://stackoverflow.com/a/71835433/8816585), it's fair to say that Nuxt is not supported as of right now.

[2022-04-15 08:57] mpapado3 commented on #119
I am having also the same issue, the modal is created with js and when it is closed through any button the backdrop stays on.
Didn't understood @michelvermeulen solution with data-modal-hide and data-modal-show.

[2022-04-15 11:37] zoltanszogyenyi commented on #117
@dpnishant solved in v1.4.2

https://flowbite.com/docs/getting-started/changelog/

[2022-04-15 11:37] #117 closed

[2022-04-15 14:42] AbdennourLa opened #133 "Html"

[2022-04-16 07:10] pondpaun7z opened #134 "Flowbite@1.4.2 with Turbo on Rails7"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `flowbite@1.4.2` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-04-16 08:05] tulup-conner opened #135 "Interactive components are not interactive until refresh"
**Describe the bug**
Interactive components (I've identified `Dropdown`, `Toast`, `Tooltip`) are only interactive on the first page visited, before a browser refresh.

**To Reproduce**
Let's say I have the following pages:

- `/: Has a Tooltip`
- `/hello: Has no interactive Flowbite components`

1. Navigate to `/hello`
2. Navigate to `/`
3. The `Tooltip` cannot be closed (it is not interactive)

A

[2022-04-17 08:26] nejckorosec commented on #131
**Nuxt 3 configuration**
Install **_flowbite_** and add configuration to _tailwind.config.js_

[code]

Create new nuxt client plugin (e.g.: _plugins/flowbite.client.ts_)
[code]

Restart the server and refresh the page.

[2022-04-17 10:21] damirqa opened #137 "event listener is not added"
**Describe the bug**
I have an App Component, authentication takes place inside it. If the user is authorized, we output Dashboard, otherwise Authentication.

Dashboard has a Navbar, and it has a button that shows a modal window. But this button doesn't work because the EventListener is missing.

If you skip authentication and display Dashboard, the button works and the modal window opens.

dont w

[2022-04-20 03:16] necony286 commented on #3
same problem

[2022-04-20 03:20] necony286 commented on #3
Still having this same problem

[2022-04-20 15:22] rebekahocampo7 opened #138 "Accordion component is causing javascript error: this._options.onToggle is not a function"
**Describe the bug**
Accordion component is causing javascript error every time you open or close any accordion elements.

Error:

Uncaught TypeError: this._options.onToggle is not a function
    at Accordion.toggle (flowbite.js?v=1.4.1a:18:15)
    at HTMLButtonElement.<anonymous> (flowbite.js?v=1.4.1a:15:58)
toggle  @   flowbite.js?v=1.4.1a:18
(anonymous) @   flowbite.js?v=1.4.1a:15

**To Reprodu

[2022-04-22 05:36] aaronhendry opened #139 "Flowbite-injected CSS causes floating dropdown arrows in scrollable <select> elements"
When adding a scrollable select box, such as the following:

[code]

a floating arrow appears in the middle of the select box. This should not happen. The only way to get rid of it, I believe, is to inject my own CSS overwriting this.

This can be easily reproduced on tailwind play: https://play.tailwindcss.com/sajBj88nsh

[2022-04-23 08:54] estudiooka commented on #130
with vue as well

[2022-04-24 22:17] agkayster commented on #86
Hi @zoltanszogyenyi, I would please like to find out if the standalone Flowbite React is now ready.
Kind Regards

[2022-04-24 23:56] zoltanszogyenyi commented on #86
Hey @agkayster,

It's still in WIP, but most of the components are ready:

https://github.com/themesberg/flowbite-react

[2022-04-25 03:39] kissu commented on #131
@nejckorosec looks like it's a working configuration indeed!

Here is an exact reproduction: https://github.com/kissu/n3-configure-flowbite

[2022-04-25 05:55] peroxovy opened #140 "Date picker - date rangepicker - week start of monday."
### Discussed in https://github.com/themesberg/flowbite/discussions/128

<div type='discussions-op-text'>

<sup>Originally posted by **peroxovy** April  8, 2022</sup>
Hello, I want to ask if there's possibility to change the starting day of week in datepicker from flowbite?
I did several "tests" but any of option don't work. In the documetation I didn't see the option for changing starting day of

[2022-04-25 09:34] #135 closed

[2022-04-25 20:29] Xac commented on #138
+1 having the same issue.

[2022-04-25 20:38] zoltanszogyenyi commented on #138
@Xac @rebekahocampo7

thanks for reporting, will fix in v1.4.4

[2022-04-26 11:39] knutole commented on #3
@zoltanszogyenyi  ETA for Vue.js version?

[2022-04-27 13:04] csoutham commented on #119
I've just pushed a pull request to add an attribute so modals can be opened by default, without the need for any JS. Fingers crossed it accepted.
https://github.com/themesberg/flowbite/pull/141

[2022-04-28 14:41] zoltanszogyenyi commented on #138
Fixed in v1.4.4.

[2022-04-28 14:41] #138 closed, assigned to nobody

[2022-04-28 14:59] zoltanszogyenyi commented on #119
@csoutham merged the PR. I think it's safe to close this issue :)

[2022-04-28 14:59] #133 closed

[2022-04-28 15:18] KinG-InFeT commented on #119
hello, the PR however does not solve the problem in the ticket, it only helps not to open the modal via javascript, avoiding the basic problem. I believe the bug will still have to be fixed.

[2022-04-28 15:20] csoutham commented on #119
@KinG-InFeT If you use the PR that I pushed, with the data-attribute for showing the modal be default, it'll add the background programmatically and remove it when toggled.

[2022-05-01 16:45] erenergul commented on #105
Did you find any solution to translate datepicker ?

[2022-05-01 16:46] erenergul commented on #32
Did you find any solution to translate ? I couldn't translate it.

[2022-05-05 08:28] volp99 commented on #120
Hi @sunysunysuny
Have you try to import the Datepicker from th CDN? You can find the link [here](https://flowbite.com/docs/plugins/datepicker/)

But it looks like Flowbite doesn't support types 🤔

[2022-05-05 08:35] volp99 commented on #106
Hello @goodlythink
Can you share the **file component** and **tailwind.config.js**?

[2022-05-05 08:40] volp99 commented on #114
Hey @gfernandez-me
Which version of FlowBite are you currently using?

[2022-05-05 19:05] Prophet199607 commented on #86
add the below code to your component

[code]

[2022-05-05 22:43] PhaxeNor opened #145 "Dark/Light component toggle doesn't work as intended while using Dark mode"
**Describe the bug**
While using dark mode, the component examples that have dark/light toggle doesn't change when switching between them.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the website mode to Dark mode
2. Go to any component that has a Dark/Light toggle button
3. Click on the Dark/Light toggle button to toggle between dark and light.
4. See that it just stays in dark mode,

[2022-05-06 08:51] gplhegde commented on #86
Calling the below in the `mounted()` hook of the Vue component will work. This is not the clean way as it ends up creating duplicate instances of tooltips if the DOM was present before `DOMContentLoaded ` event is triggered.

[code]

[2022-05-06 09:15] Van4kk opened #146 "Tabs: JS is not adding all classes from activeClasses"
**JS is not adding all classes from activeClasses**
![Screenshot_5](https://user-images.githubusercontent.com/65396868/167102064-4c2b91ba-ffd5-4d8c-ae99-12589d41d746.jpg)
**on server**
![Screenshot_6](https://user-images.githubusercontent.com/65396868/167102310-3a93de7f-26a7-4989-8e44-236ac214184d.jpg)

how can I fix this ?

[2022-05-06 09:48] oripka commented on #131
Development mode works but I get an error when building

[code]

[2022-05-09 02:10] col-bc commented on #3
Also having this problem with a fresh vue3 project.

[2022-05-11 02:13] sgehrman commented on #51
same issue

[2022-05-11 02:25] sgehrman commented on #94
same issue.

[2022-05-11 14:07] brianpurkiss opened #148 "Modal doesn't close when clicking background or hitting esc button"
**Describe the bug**

Common expected modal functionality is to click outside of the modal to close the modal. Same goes for hitting the esc button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to: https://flowbite.com/docs/components/modal/
2. Open any modal
3. Click outside of the modal or hit the 'esc' button on the keyboard

**Expected behavior**
I expect the modal to close on eith

[2022-05-11 17:45] not-rusty commented on #105
Well, I went with this instead:
https://air-datepicker.com/

[2022-05-12 06:26] shinokada opened #150 "Error: Replace color-adjust to print-color-adjust. The color-adjust shorthand is currently deprecated."
**Describe the bug**

Error message:

**To Reproduce**

[code]

Update tailwind.config.cjs

[code]

Installing flowbite:

[code]

**Expected behavior**

No error.

**Screenshots**

<img width="1255" alt="image" src="https://user-images.githubusercontent.com/147320/168005393-970eb698-89ae-4366-b2cf-76b260207efb.png">

**Desktop (please complete the following information):**
 - OS: macOS 12.3.1

Sim

[2022-05-12 08:13] shinokada commented on #150
It was [autoprefixer bug](https://github.com/tailwindlabs/tailwindcss/issues/8250) and using [10.4.5 fixed the problem](https://github.com/BLSQ/accessmod-app/commit/0e0ed2d9929fffaecb96e40bbe6657c0e0c5bc00).

[2022-05-12 08:13] #150 closed

[2022-05-13 07:14] desprit commented on #150
@shinokada I'm using the latest version of flowbite (1.4.5) and the latest version of tailwind (3.0.24). How do I silence that warning message, please?

[2022-05-13 10:17] shinokada commented on #150
@desprit You need to install autoprefixer@10.4.5

[code]

[2022-05-13 12:26] KristianFilo opened #151 "Appearance of Toggle element breaks if label has more than 1 line"
**Describe the bug**
If the label next to the Toggle element breaks into multiple lines, the appearance of the switch breaks (the handle overflows the switch container).

**To Reproduce**
Steps to reproduce the behavior:
1. Create one of Flowbite Toggle elements
2. Add label long enough to break into multiple lines

**Expected behavior**
The toggle should be correctly positioned (on top, in most o

[2022-05-13 16:39] KinG-InFeT commented on #148
+1

[2022-05-13 16:41] KinG-InFeT commented on #119
any update?

[2022-05-13 16:41] KinG-InFeT commented on #124
any update?

[2022-05-13 16:41] KinG-InFeT commented on #98
any update?

[2022-05-13 16:44] KinG-InFeT commented on #121
any update?

[2022-05-14 18:47] MichalPniak commented on #32
I have not found any solution, I just remember that you would have to overwrite the file where the languages are imported for this plugin. When I analyzed it some time ago, only the English language was being import.

[2022-05-14 18:47] MichalPniak commented on #32
I have not found any solution, I just remember that you would have to overwrite the file where the languages are imported for this plugin. When I analyzed it some time ago, only the English language was being import.

[2022-05-16 22:29] supernectar commented on #131
This solution only works for a single vue page, as soon as the DOM changes (by introducing vue components and <NuxtLink>'s to the project) every flowbite component that requires js becomes unresponsive, such as modals, dropdowns, etc...

[2022-05-17 07:36] sgehrman commented on #150
not fixed for me.

[2022-05-18 09:03] zoltanszogyenyi commented on #151
Hey @TinoArts,

Thanks for the bug report. Looks like we'll need to trade off another `div` element to wrap the toggle component. I'll look into a solution if possible without adding additional elements.

[2022-05-18 09:04] zoltanszogyenyi commented on #148
Hey @brianpurkiss,

Fair point. I'll look into this for the next update.

Regarding the keyboard action, we would like to incorproate for all of the components in the future, not just the modal.

[2022-05-18 09:04] zoltanszogyenyi commented on #146
Hey @Van4kk,

Can you please give more context or an example of where this happens?

Thanks!

[2022-05-18 09:08] zoltanszogyenyi commented on #145
Hello @PhaxeNor,

Thanks for the bug report. We're actually aware of this and right now we can make it work only if the code example is loaded inside an `<iframe` because the dark mode is applied by adding the `.dark` class, whereas you can't add a `.light` class right now.

Is this something that prevents you from developing with Flowbite or it's more like a small glitch in your view?

[2022-05-18 09:45] PhaxeNor commented on #145
Thanks for the reply @zoltanszogyenyi

It's not a issue for me, just bug reporting what I found :)

[2022-05-18 17:53] abdullrahman02000 opened #154 "Code differentiate with npm package"
When commit "fix: replace color-adjust by print-color-adjust" was done
https://github.com/themesberg/flowbite/commit/a849bb580f8e2cc86022c8f76a509880b645b72d
I downloaded latest version 1.4.5 and I get warning from vite server that I have to use **print-color-adjust** instead of **color-adjust**
When I opened the effected file **plugin.js** I found it using old version with **color-adjust**

[2022-05-19 02:24] xiaolin911211 commented on #51
still no resolutions? None of tailwind css library is working for NextJS

[2022-05-19 05:28] ivanjeremic commented on #51
Honestly use Tailwind with something else this will not work ever.

[2022-05-19 10:58] xiaolin911211 commented on #51
Agree, started using daisyui that’s compatible with NextJS

[2022-05-19 11:13] zoltanszogyenyi commented on #51
Hello, everyone!

Please check out the official React library for Flowbite: https://github.com/themesberg/flowbite-react

We're close to a stable release. This should work with Next JS.

[2022-05-19 11:13] #51 closed

[2022-05-19 11:16] xiaolin911211 commented on #51
Tried still getting the same errror document not found

[2022-05-19 11:34] zoltanszogyenyi commented on #51
@xiaolin911211 can you please open an issue on that repo with the `document not found` error? I believe that has been addressed since the vanilla Flowbite JS is no longer being included.

[2022-05-19 13:29] Siumauricio commented on #51
https://github.com/themesberg/flowbite/blob/main/src/components/dropdown.js#L104 this is one of the problems accesing a document object when nextjs is on SSR, one of the temporal solutions could be checking if are on server
[code]

[2022-05-19 22:24] xiaolin911211 commented on #51
Getting this error now:
SyntaxError: Unexpected token 'export'
With the following codes that i follow in https://github.com/themesberg/flowbite-react.

tailwind.config.js
module.exports = {
  content: [
    "./src/**/*.{html,js,svelte,ts}",

    "./pages/**/*.{js,ts,jsx,tsx}",

    "./components/**/*.{js,ts,jsx,tsx}",

  ],
  theme: {
    extend: {},
  },
  plugins: [require('flowbite/plugin')],
}

[2022-05-20 01:18] jpoechill commented on #131
@oripka @Shmookoff

hack: bypass nuxt's plugin installation feature altogether and install via. official cdn: [flowbite docs](https://flowbite.com/docs/getting-started/quickstart/).

_(nuxt.config.ts)_

[code]

[2022-05-20 07:34] bacali95 commented on #51
Hi @xiaolin911211 I think the import statement should be more like
[code]

[2022-05-20 14:53] zoltanszogyenyi commented on #1
Hey @heychazza,

Fixed this issue in v1.4.6.

https://flowbite.com/docs/plugins/datepicker/#date-range-picker

[2022-05-20 14:53] #1 closed, assigned to nobody

[2022-05-20 14:53] zoltanszogyenyi commented on #100
@lrusso96 renamed to `flowbite-datepicker`starting v1.4.6.

[2022-05-20 14:53] #100 closed

[2022-05-20 23:34] zoltanszogyenyi commented on #154
@abdullrahman02000 fixed in v1.4.6 and v1.4.7 respectively.

[2022-05-20 23:34] #154 closed

[2022-05-21 07:29] alvinkonda opened #156 "Drawer (Offcanvas) support"
Example:
https://getbootstrap.com/docs/5.1/components/offcanvas/

I think this is a must-have component, but if you have any workarounds for this please let me know.

[2022-05-22 23:55] juliotnu01 opened #158 "rendering error when inserting a datePicker inside a modal"
when a datePicker is inserted into a modal, and clicked to select the date, the date display is overlapped by the modal container

![image](https://user-images.githubusercontent.com/15963809/169721597-62ab7b6a-4344-48b4-9eab-27d4cae665f9.png)

[2022-05-23 09:23] zoltanszogyenyi commented on #158
Hey @juliotnu01,

Thanks for the reporting, this will be solved by adding a larger `z-index` to the datepicker.

[2022-05-23 15:08] ioanacristinamarinescu opened #159 "Fix dist/flowbite.js to not use arrow function"
**Describe the bug**
On IE11 the dropdown does not work because of the use of arrow function.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to IE11 https://flowbite.com/docs/components/dropdowns/
2. Open web console
3. See error

**Expected behavior**
Dropdown list should appear

**Screenshot**
![Screenshot_2022-05-23_18-06-29](https://user-images.githubusercontent.com/4679587/169850060

[2022-05-24 00:18] adiroiban commented on #159
The main goal for this is to have IE11 support.

I am not sure if the source files have support for IE11 ... or if the projects even want to support IE11.

For `webpack.config.js`, a quick fix is to use:

[code]

[2022-05-24 23:29] fakhredineOuahaqi opened #160 "Modal does not open when switching between pages until you refresh the page"
in mobile screen when the page load for the first time and you click the button to open the modal it does open, but after you go to another page and try to open another modal it does not open and you should refresh the page again and again every time you go to another page.

[2022-05-25 13:45] lewebsimple opened #161 "Customizing the primary color"
The various components use a hard-coded blue color, it would be nice to make this customizable.

**Describe the solution you'd like**
Defining a `primary` color variable and using this instead of `blue` would allow the primary color to be overridden on a per-project basis. Its default values can still be set to blue to make this change transparent to the user.

**Describe alternatives you've consi

[2022-05-25 17:24] LluisR commented on #160
Same problem here with modal!
The same error also occurs with the new carousel.

Flowbite verison ^1.4.7

[2022-05-25 17:31] fakhredineOuahaqi commented on #160
i'v handled the open and close actions of the modal using useState and remove the 'data-modal-toggle'. that's what solve my problem !

[2022-05-25 17:33] LluisR commented on #160
Could you share an example of your code, please?

[2022-05-26 10:01] zoltanszogyenyi commented on #161
Hey @lewebsimple,

This is something that we've been exploring the past few weeks, but we're still not 100% decided on this aspect.

The advantage is quite obvious, that per project base it is much easier to change the primary/secondary/tertiary colors, however, it will mean that we'll have to introduce a class that is not available with a default Tailwind configuration.

We will do this change if

[2022-05-26 10:03] zoltanszogyenyi commented on #160
Hey @fakhredineOuahaqi, @LluisR,

Are you using this on a React project? Perhaps you might want to look into the standalone React component library:

https://github.com/themesberg/flowbite-react

[2022-05-26 10:04] zoltanszogyenyi commented on #159
Hey @ioanacristinamarinescu  @adiroiban,

I'll look into this for the next version. Thank you!

@adiroiban: you can open a PR if you want to and I'll take a look at it.

[2022-05-26 10:04] zoltanszogyenyi commented on #156
Hey @alvinkonda,

We'll get this done in the next version by creating a "Drawer" component.

[2022-05-26 10:50] adiroiban commented on #159
Sure. I will create the PR.

[2022-05-26 10:58] adiroiban commented on #159
PR https://github.com/themesberg/flowbite/pull/163

Many thanks for this nice project :)

[2022-05-26 14:30] #160 closed

[2022-05-26 17:49] yoelpc4 opened #165 "Feat: Add visual indicator of disabled dates outside min and max range in datepicker plugin"
**Is your feature request related to a problem? Please describe.**
Hi there, I use flowbite datepicker in my project and already set the minDate and maxDate on options at the 2nd argument of the new Datepicker. After that, I headed to the browser and tried my app. It turns out the dates outside the min-max range are not disabled visually only unclickable, which means the function is working but th

[2022-05-28 12:24] spacerobotTR commented on #88
Wow thanks for posting this. Was just hooking up flowbite with rails 7 and hit this issue. Glad I stumbled on this. Fixed my issues.

[2022-05-30 06:59] Coinhexa commented on #25
what is the current status of this feature?

[2022-05-30 09:00] maninthemirror commented on #119
Same problem

[2022-05-31 02:06] col-bc commented on #3
I'm also having problem getting interactive components to work. The setup instruction for vue work, but when `vue-rpouter` is added to the project, everything stops again.

[2022-05-31 03:29] dinta0623 commented on #131
it works for me :

_plugins/utils.client.js_ :
[code]
_nuxt.config.js_ :
[code]

[2022-05-31 07:32] DIWAKARKASHYAP commented on #145
@PhaxeNor

i fork this repository and open code in VS code and i try to run this on localhost  for last 3 days
so,
brother can you help me to run this website on local host using VS code

[2022-06-02 10:24] rluders commented on #3
Some context:

[code]

tho seems something is happening in the browser devtools
flowbite__WEBPACK_IMPORTED_MODULE_1___default(...).Dropdown is not a function

[2022-06-02 21:33] benoit96 commented on #3
You were close to the solution !  Here is what worked for me
<script setup>
import { Link } from '@inertiajs/inertia-vue3'
import Flowbite from 'flowbite'
import { Inertia } from '@inertiajs/inertia'

Inertia.on('finish', () => {
  document.querySelectorAll('[data-dropdown-toggle]').forEach(triggerEl => {
    const targetEl = document.getElementById(triggerEl.getAttribute('data-dropdown-toggle'))

[2022-06-02 21:37] rluders commented on #3
Nice. The code isn't mine, just bring it from the Discord channel to get some help for a user. Thanks @benoit96

[2022-06-02 22:20] chas688 commented on #158
I have this issue as well and am adding a z-50 (Tailwind CSS) to the input. However, it is not getting picked up and the default is going back to z-20 on the modal itself.

[2022-06-03 20:30] stallyonsDev commented on #3
Still having the same issue.

[2022-06-06 20:32] iamkaarp opened #169 "sha512 checksum React App"
**Describe the bug**
When running npm ci on both dev and production machine I get
npm ERR!
code EINTEGRITY
ERR! sha512-3hN7NagrayvMDLQY55gnW3NQ+mesEAepTqlg+VEbj7zzqEMBVNhzcGYYeqFo/TlYz6eQiFcp1HcsCZO+nGgS8zg== integrity checksum failed when using sha512: wanted sha512-3hN7NagrayvMDLQY55gnW3NQ+mesEAepTqlg+VEbj7zzqEMBVNhzcGYYeqFo/TlYz6eQiFcp1HcsCZO+nGgS8zg== but got sha512-3hN7NaskYvMDLQY55gnW3NQ+mes

[2022-06-06 23:03] dvalle-nearsoft commented on #132
I'm also having the same issue with the modal window

[2022-06-09 13:05] lfsaga commented on #119
Same for me

[2022-06-10 08:11] zoltanszogyenyi commented on #3
Hey, everyone!

A new standalone Vue 3 library has been started here and @ralphschuler is the maintainer.

If you'd like to help you can contribute to the repository and reach out to me or @ralphschuler :)

https://github.com/themesberg/flowbite-vue

[2022-06-11 14:30] xiaolin911211 commented on #51
What happened to the Nextjs starter kit? It was created weeks ago but now i couldnt find it anymore

[2022-06-11 14:30] xiaolin911211 opened #171 "What happened to the Nextjs starter kit? It was created weeks ago but now i couldnt find it anymore"
What happened to the Nextjs starter kit? It was created weeks ago but now i couldnt find it anymore

[2022-06-11 16:12] zoltanszogyenyi commented on #171
Hey @xiaolin911211,

Please check out this repository: https://github.com/tulupinc/flowbite-next-starter

We'll later add it to the main library as an integration guide.

[2022-06-11 16:12] #171 closed

[2022-06-11 16:13] zoltanszogyenyi commented on #51
Hey @xiaolin911211,

Please check out this repository: https://github.com/tulupinc/flowbite-next-starter

We'll later add this to be main library as an integration guide.

[2022-06-13 01:06] dzcpy commented on #105
i18n is really needed for the date picker

[2022-06-13 19:08] Rodrigo-lpds commented on #119
Same here

[2022-06-14 07:50] amarineau commented on #151
You can add a relative properties in the div between the label tag. Like that. I think is currently missing.

`                <label
                  for="default-toggle"
                  class="inline-flex relative items-center cursor-pointer"

                  <input
                    type="checkbox"
                    value=""
                    id="default-toggle"
                    c

[2022-06-17 09:50] sagadsalem commented on #146
@zoltanszogyenyi to be more specific the border-bottom not working on the active class

[2022-06-17 09:58] sagadsalem commented on #146
I find out the solution

the example should be updated to be like this:

[code]

[2022-06-17 21:11] sagadsalem commented on #3
any workaround? for Vue 3 + inertia js

[2022-06-19 16:17] #146 closed

[2022-06-19 16:21] Van4kk commented on #146
Yeah, it works !
Thank you for your time ❤️
I found out that earlier, but I forgot to report here, sorry 😬

[2022-06-22 20:15] Bolibick commented on #148
+1 the same proble for me bro.

[2022-06-23 11:07] EweLoHD opened #175 "Carousel buggy/not working containing less than 3 Items"
**Describe the bug**
- If you create a carousel containing only 2 Items (Images), the Animation when sliding, does not looks right (It's a little bit difficult do describe but the images are not fluently connected like when using 3 or more pics).
- When the carousel only contains one image, the carousel is not beeing displayed at all.

**To Reproduce**
I created a simple page containing a carousel

[2022-06-24 07:20] rahuljaisinghani opened #177 "Missing Marketing, Blocks and Hugo templates in Pro version google drive link"
**Describe the bug**
I have purchased the Developer edition of Flowbite. Pro Version promised following 6 types of components
<img width="1161" alt="Screenshot 2022-06-24 at 12 45 12 PM" src="https://user-images.githubusercontent.com/25593096/175483262-089c63a6-5064-455c-a9b4-57151aea67c5.png">

Drive link which was shared contains only 2 categories. Image attached
<img width="569" alt="Screenshot

[2022-06-25 07:23] MarvinMiles commented on #151
It also breaks if add some padding to label element.
Adding relative class in div fixes the issue

[2022-06-28 00:00] puglet5 commented on #88
Also works with Turbolinks (5.2.0) with `turbolinks:load`. Thanks!

[2022-06-28 10:32] harrisonratcliffe commented on #119
Same problem here

[2022-06-28 10:37] zoltanszogyenyi commented on #177
Hello @rahuljaisinghani,

The marketing UI code is currently available via the [Flowbite Blocks](https://flowbite.com/blocks/) system and the marketing UI pages (in the HUGO format) will arrive next week.

[2022-06-28 10:37] zoltanszogyenyi commented on #169
Hello @iamkaarp,

Please refer to the [Flowbite React](https://github.com/themesberg/flowbite-react) repository for React usage.

[2022-06-28 10:37] #169 closed

[2022-06-28 10:41] zoltanszogyenyi commented on #119
Hey everyone,

When opening the modal with JavaScript, please use the `modal.hide();` method by manually adding the event listener to the close button.

The `data-modal-toggle` will only work when the modal is initialized only via the data attributes.

Here's an example:

[code]

Create a new Modal object:

[code]

Use these methods to show or hide the modal:

[code]

So in this case you can do so

[2022-06-28 10:42] zoltanszogyenyi commented on #175
Hey @EweLoHD,

This actually makes sense and will fix it for the next version.

[2022-06-28 11:42] harrisonratcliffe commented on #119
This exactly.

[2022-06-28 11:49] harrisonratcliffe commented on #119
Can you share the code you used to get around this issue please?

[2022-06-28 11:50] ymc9 commented on #130
Same here in a svelte-kit project

[2022-06-29 13:40] danielxbauer opened #181 "Tooltips triggerType "manual""
**Is your feature request related to a problem? Please describe.**
I would like to show a tooltip only when I explicitly call the `show`/`hide` method in the `Tooltip` instance.
Currently there are two triggerTypes: `hover` and `click`. If none of those two is set the default is `hover`.
There is no option (as far as I know) to stop the auto showing/hiding on certain events.

**Describe the soluti

[2022-06-30 02:49] daxiongYang opened #182 "About npm `import 'flowbite'` related issues"
When importing the js library through npm `import 'flowbite'`.

1. Is it optional? Like: `import { Modal } form 'flowbite'` . Although, I can
[code]
But I feel so innocent! !

2. Can you provide a namespace instead of directly `window.Modal = Modal;` to bind the Class to the window object?

[2022-06-30 07:35] danielxbauer commented on #181
Possible code change to make it possible:

`tooltip.js` > `_getTriggerEvents` method
[code]

[2022-07-01 12:28] zoltanszogyenyi commented on #119
Hey everyone,

I'll get on this for the next update in the next two weeks.

I agree with the general idea so we'll provide a fix for this.

Thanks for your patience!

PS: if anyone wants to contribute they are more than welcome. The code can be found inside the `modal.js` file.

[2022-07-01 12:40] spacerobotTR opened #185 "Problem with sidebar not working"
I went through the installation for a rails 7 project. Everything seems to be working fine, but when trying to duplicate the pro version dashboard page, the sidebar menu does not work. All other javascript works fine. When I set the browser to mobile mode the sidebar disappears, but the toggle bars do not do anything when clicked. Is there something I need to do or configure for this that is not i

[2022-07-01 15:34] alorence commented on #3
I have this issue too... The main problem is that JS components registration is attached to `DOMContentLoaded` event. Unfortunately, in some case (very light page content), the DOM finishes to load BEFORE the JS code is executed.

This is very well explained here: https://stackoverflow.com/a/39993724/1887976

A solution would be to transform this kind of code (ex for [modal](https://github.com/the

[2022-07-02 00:22] DamienJolly opened #186 "Carousel infinite slide interval"
It would be really good for the infinite carousel slider to have configurable interval speed.
Maybe even with a custom attribute `data-carousel-interval="2000ms"`

[2022-07-02 20:50] alorence commented on #131
This may be linked to #3. I just oopened a PR to solve that issue.

[2022-07-03 06:17] eric-naguras commented on #130
I hope this will be solved. Not too fond of warnings.
But I like flowbite, thanks for creating.

[2022-07-03 10:11] zoltanszogyenyi commented on #130
Hey everyone,

I'll tackle this for the 1.5 version. We'll release some new components including drawer, stepper, skeleton and popover.

[2022-07-04 02:59] michael-yin opened #188 "Add other solutions to the Django doc"
The current Django doc https://flowbite.com/docs/getting-started/django/ is great to beginner user who wants to integrate Tailwind CSS.

It would be great if it has a `reference` section which contains some different approach.

For example, https://python-webpack-boilerplate.readthedocs.io/en/latest/setup_with_tailwind/

Thx.

[2022-07-05 10:19] SajiburMunna opened #191 "How can we use datepicker in react? any idea"
Hello there, I was looking forward to using the date-picker plugin in react, any idea about implementing it in react??
thank you  and looking forward to your help

https://github.com/themesberg/flowbite/blob/main/content/plugins/datepicker.md

[2022-07-05 11:52] sujin-lifology commented on #191
https://www.npmjs.com/package/react-datepicker

you can use this package in react for date picking.

[2022-07-05 20:27] zoltanszogyenyi commented on #188
Hey @michael-yin,

If you'd like to you can open up a PR or just write an integration guide for Flask similar to our Django guide and I will post it on the documentation :)

Cheers,
Zoltan

[2022-07-05 20:29] zoltanszogyenyi commented on #185
Hey @spacerobotTR,

Are you sure the JavaScript is correctly included?

With the pro version you have some additional JS for the charts and the sidebar toggle to include for them to work.

[2022-07-05 20:41] spacerobotTR commented on #185
Yes sorry. I thought it was all included with the flowbite js. I ended up working in the sidebar javascript, and made some changes for turbo/hotwire and got it to work!

[2022-07-05 22:34] blump commented on #88
For those using Webpack, a solution that works is to replace DOMContentLoaded by turbo:load in the ./node_modules/flowbite/dist/flowbite.js file

`const replace = require('replace');
replace({
    regex: "DOMContentLoaded",
    replacement: "turbo:load",
    paths: ['./node_modules/flowbite/dist/flowbite.js'],
    recursive: true,
    silent: true,
});
`

[2022-07-06 10:56] zoltanszogyenyi opened #195 "Integrate Storybook"
We need to integrate the UI components with [Storybook](https://storybook.js.org/) so we can run tests for accessibility and functionality as the library grows in size and adoption.

[2022-07-06 11:47] #185 closed

[2022-07-06 11:51] zoltanszogyenyi commented on #137
Hello @damirqa,

I suggest you check out the [Flowbite React](https://github.com/themesberg/flowbite-react) project for React / Next.js projects, but I will take a look into this nonetheless.

Thanks1

[2022-07-06 11:51] zoltanszogyenyi commented on #132
Will introduce prefixes for v1.4.8.

[2022-07-06 11:52] zoltanszogyenyi commented on #131
Hey everyone,

Please check out the [Flowbite Vue component library](https://github.com/themesberg/flowbite-vue) for Vue & Nuxt.js projects.

Until then, I will take a look into this either way.

[2022-07-06 11:53] zoltanszogyenyi commented on #129
Hey @KinG-InFeT,

I'll check this for the v1.5 update.

Thanks!

[2022-07-06 11:56] #106 closed

[2022-07-06 11:58] #94 closed

[2022-07-06 11:58] #86 closed

[2022-07-06 11:59] zoltanszogyenyi commented on #71
Hey @angelhdzmultimedia @aacassandra,

You should start using the [Flowbite Vue component library](https://github.com/themesberg/flowbite-vue) if you're using Vue or Nuxt.

[2022-07-06 11:59] #71 closed

[2022-07-06 12:00] zoltanszogyenyi commented on #65
Hey @chizytony @aacassandra,

Please check out the [Flowbite Vue component library](https://github.com/themesberg/flowbite-vue) for Vue or Nuxt projects.

[2022-07-06 12:00] #65 closed

[2022-07-06 12:00] zoltanszogyenyi commented on #57
Hey @oxynad @salvatorecalo @gerasimovs,

Please check out the [Flowbite Vue component library](https://github.com/themesberg/flowbite-vue) for Vue or Nuxt projects.

[2022-07-06 12:00] #57 closed

[2022-07-06 12:01] zoltanszogyenyi commented on #69
Hey @tdashworth,

I am not that familiar with .NET, however, it would be awesome if you could create a PR to help us get started.

You can tune in with the [community on Discord](https://discord.gg/4eeurUVvTy),

My username is zoltanszogyenyi.

.NET support would be awesome!

[2022-07-06 12:02] #24 closed

[2022-07-06 12:03] #3 closed

[2022-07-06 13:39] Maxtab opened #196 "Dropdowns for navbar on hovering"
**Is your feature request related to a problem? Please describe.**
Hello and thank you for your great framework. It's easy and simple to understand.
I would like to know if there is a simple way to have dropdowns for navbar that appear/hide on hovering because the documentation/examples only refers to onclick examples.

I would like something like for the tooltips : _data-tooltip-trigger="hover"_

[2022-07-06 15:54] WenderRocha opened #197 "modal not working"
Modal not working in laravel with vite

[2022-07-07 07:26] mouracamila commented on #195
Hi @zoltanszogyenyi,  I can help with this :)

[2022-07-07 07:36] zoltanszogyenyi commented on #195
Hey @mouracamila,

Oh, awesome! I've already finished most of the button component, but I'm still setting up some tests with Jest.

But I think that you can pick a component for integration, for example the badge. (colors, sizes, styles).

We can talk on the #main-library channel on the Discord Server.

The branch is currently /storybook.

[2022-07-08 09:16] zoltanszogyenyi commented on #196
Hey @Maxtab,

We're actually working on this for the next update.

Thanks for reporting!

[2022-07-08 09:29] zoltanszogyenyi opened #198 "Make SVG icons accessible by using aria-role="hidden" and <span class="sr-only">icon description</span>"
To make the `<svg>` icon elements accessible for screen readers we need to use the `role-aria="hidden"` attribute and set a `<span class="sr-only>icon description</span>"`

[2022-07-08 09:30] zoltanszogyenyi opened #199 "New component: drawer (off canvas)"

[2022-07-08 09:30] zoltanszogyenyi opened #200 "New component: popover"

[2022-07-08 09:30] zoltanszogyenyi opened #201 "New component: skeleton"

[2022-07-08 09:31] zoltanszogyenyi opened #202 "New component: KBD (keyboard)"

[2022-07-08 09:34] zoltanszogyenyi opened #203 "New component: collapse"

[2022-07-08 09:50] zoltanszogyenyi opened #204 "New component: mega menu"

[2022-07-08 14:11] zoltanszogyenyi commented on #132
@desprit @dan-valang

This is now fixed on the develop branch by using a special function that introduces the prefix to all injected classes.

It will directly look into the `tailwind.config.js` file and using the `getPrefixedClassName` and `getPrefixedClassName` functions it will introduce the prefix, if it's being set.

Source: https://github.com/themesberg/flowbite/blob/develop/src/components/m

[2022-07-08 14:14] zoltanszogyenyi opened #205 "Document prefix configuration"
Documentation for https://github.com/themesberg/flowbite/issues/132

[2022-07-08 15:28] zoltanszogyenyi commented on #148
Hey @KinG-InFeT @brianpurkiss @Bolibick,

This issue has been addressed in the v1.5 update by closing the modal when clicking outside, but by also enabling the static backdrop (don't close when clicking outside) by using the `data-modal-backdrop="static"` data attribute on the modal element or by passing the `backdrop: "static"` or `backdrop: dynamic` option to a `new Modal()` class.

This is the

[2022-07-08 15:31] zoltanszogyenyi opened #206 "Integrate keyboard events for all interactive components"
We need to integrate keyboard events for the interactive components, such as when using "ESC" the close the modal.

[2022-07-08 15:49] zoltanszogyenyi opened #207 "Show responsive view actions for all components in the docs"
Show responsive view directly as with [Flowbite Blocks](https://flowbite.com/blocks/) for each component preview.

![Image](https://user-images.githubusercontent.com/8052108/178026965-54786b77-7d9c-4395-9223-d6f3c30a6c5f.png)

[2022-07-09 06:00] desprit commented on #132
This is great @zoltanszogyenyi , thank you very much!

[2022-07-09 11:44] zoltanszogyenyi opened #208 "Make dropdown trigger type with hover"
We should add an option to trigger the dropdown menu by more trigger types, such as hover, not just click.

It should be accessible via a data attribute such as `data-dropdown-trigger="hover"` where by default it's click.

This should be also added as an option for the Dropdown object.

File to be modified: https://github.com/themesberg/flowbite/blob/develop/src/components/dropdown.js

We should a

[2022-07-11 14:19] KinG-InFeT opened #210 "use flowbite css import without tailwind core css"
**Describe the bug**
i can't install basic tailwindcss + possibly the necessary classes for flowbite. in addition to this the library integrated in flowbite is one of an obsolete version of tailwindcss (Arrived at 3.1.5) for which it can be updated via npm.

It should be possible to integrate the flowbite custom css without the tailwindcss lib css present, so as to have full control of the css imp

[2022-07-12 12:09] zoltanszogyenyi commented on #145
Hey @PhaxeNor @DIWAKARKASHYAP,

I fixed this in the `docs-layout` branch by using an iframe instead of the code directly.

Here's a preview of the functionality before the deployment:

https://user-images.githubusercontent.com/8052108/178486451-9854da0c-fd07-4f26-9cfa-74762b3ca1ba.mov

[2022-07-12 14:06] MattJonesSiteglide opened #211 "Multi-level dropdown is not responsive."
**Describe the bug**

In the mobile example for multi-level dropdowns (and in my site), the second level of dropdown falls off the edge of the page. Since the anchor text is quite short, I don't think this is due to content. See screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. In the docs, click the mobile view for https://flowbite.com/blocks/marketing/header/#header-with-dropdown

[2022-07-12 14:32] MattJonesSiteglide commented on #211
Currently I get the best results with putting data-dropdown-placement="bottom" on both levels of dropdown for mobile. I may then add less subtle border/ shadow so the edges of the dropdown are more defined when they overlap.

Unfortunately placement on the data-dropdown-placement="right" looks better on desktop. But I think I will sacrifice this for better mobile positioning for now.

[2022-07-13 13:49] tdashworth commented on #69
Hey @florian03-1

I haven't started yet but was planning to soon. Support would be amazing.

If you are eager to start, don't wait for me but keep me posted 😀

[2022-07-14 01:33] osddeitf commented on #191
I think you can do it by using `React.useRef`: https://flowbite.com/docs/plugins/datepicker/#javascript

[2022-07-14 09:56] zoltanszogyenyi commented on #145
Deployed.

[2022-07-14 09:56] #145 closed

[2022-07-14 09:56] zoltanszogyenyi commented on #211
Hey @MattJonesSiteglide,

Fair point, will look into this.

[2022-07-14 09:58] zoltanszogyenyi commented on #210
Hello @KinG-InFeT,

Theoretically, Flowbite should work independently from which version you have of Tailwind CSS installed.

It's true that our own docs use an earlier version of TW which we will shortly update, but that shouldn't affect your project when pulling Flowbite.

[2022-07-14 09:58] zoltanszogyenyi commented on #207
Deployed.

[2022-07-14 09:58] #207 closed

[2022-07-14 09:59] zoltanszogyenyi commented on #204
Deployed:

[Tailwind CSS Mega Menu - Flowbite](https://flowbite.com/docs/components/mega-menu/).

Added five variants, for now.

[2022-07-14 09:59] #204 closed

[2022-07-14 10:00] zoltanszogyenyi commented on #199
Duplicate issue of https://github.com/themesberg/flowbite/issues/156.

Closing this.

[2022-07-14 10:00] #199 closed

[2022-07-14 15:50] FireBolt922 opened #215 "2 slides in carousel"
I wanted to use 2 slides on the carousel. but I now I have to write 2 diff codes for mobile and desktop view.
can you suggest the most appropriate solution for this

[2022-07-14 17:07] zoltanszogyenyi commented on #198
Deployed.

[2022-07-14 17:07] #198 closed

[2022-07-14 17:07] #201 closed, assigned to zoltanszogyenyi, robert1508

[2022-07-14 17:17] florian03-1 commented on #69
@tdashworth When do you plan to start?
I will wait for you...

[2022-07-15 08:51] MattJonesSiteglide commented on #211
Thanks! I always struggle with dropdowns on mobile myself!

[2022-07-15 15:35] zoltanszogyenyi commented on #202
Deployed.

[Tailwind CSS KBD - Flowbite.](https://flowbite.com/docs/components/kbd/)

[2022-07-15 15:35] #202 closed

[2022-07-15 15:36] zoltanszogyenyi opened #216 "New component: video"

[2022-07-15 22:33] tdashworth commented on #69
@florian03-1 I hope to have time next, even if it's just a skeleton project.

[2022-07-16 17:44] mohammadmrd74 commented on #131
import like this:
import * as twelements from 'tw-elements/dist/js/index.min.js';

[2022-07-16 22:12] jshnaidman opened #218 "Commitizen dependency abandoned, has critical security bug"
Hi. This project has a dependency on commitizen which in turn has a dependency on minimist 1.2.5. Unfortunately minimist 1.2.5 has a critical security vulnerability: https://github.com/advisories/GHSA-xvch-5gv4-984h

Either the minimist dependency should be overridden or there should be a migration to an active commitizen fork, see https://github.com/commitizen/cz-cli/issues/914#issuecomment-11313

[2022-07-16 22:18] jjagielka opened #219 "Toggle: label for and input id"
**Describe the bug**

From: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Label

[code]

Toggle example is implemented with the latter option i.e. input embedded in label, so `for` and `id` are redundant.

[code]

[2022-07-17 15:05] kdmcguire commented on #218
Commitizen releases have restarted, and minimist is updated to 1.2.6 in [4.2.5](https://github.com/commitizen/cz-cli/releases/tag/v4.2.5).

[2022-07-17 16:49] jshnaidman commented on #218
Ah perfect, it was restarted merely hours after my post.

Also I realize that I should have posted this to flowbite-react not flowbite, apologies.

[2022-07-17 16:49] #218 closed

[2022-07-18 01:27] CH4R4F opened #220 "carousel default component example missing somthing"
[in this page](https://flowbite.com/docs/components/carousel/) the first example **Default slider**  when I click on media screen icons the component size doesn't change .. and produce and error in the console `Uncaught TypeError: Cannot read properties of undefined (reading 'getAttribute')`

[2022-07-18 01:51] #220 closed

[2022-07-18 16:14] KinG-InFeT opened #222 "tab active class error"
**Describe the bug**
clicking on the first tabs (except the last one) the tab is colored in the edges incorrectly, all the edges should be colored.

**Screenshots**
![image](https://user-images.githubusercontent.com/193969/179555572-5f0a2efa-3df0-4c23-bfae-ff147038e204.png)

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Browser chrome
 - Version 103

[2022-07-18 16:35] zoltanszogyenyi opened #223 "Modal data attributes refactoring"
Add the following options:

- use data-modal-target to init a modal instead of toggle
- use data-modal-dismiss / hide to hide a modal and use these for the button
- use data-modal-show instead of toggle for the show buttons

[2022-07-20 00:19] jsbaltodano commented on #88
this is old, but it would be easier if inside your own js, you trigger the DOMContentLoaded event inside the turbo:load event

[code]

[2022-07-20 07:27] tdashworth commented on #69
@florian03-1 I have created a basic project (copying the structure from the `flowbite-svelte` project): https://github.com/tdashworth/flowbite-blazor

It only has a library project currently but we should add a test project (using `bunit`?) and a sample project. There is lots to get working on and I'll add you as a contributor so you don't need to fork. 😄

[2022-07-20 15:44] zoltanszogyenyi commented on #156
Released with v1.5.0.

Docs: [Tailwind CSS Drawer - Flowbite](https://flowbite.com/docs/components/drawer/)

[2022-07-20 15:44] #156 closed

[2022-07-20 16:13] zoltanszogyenyi commented on #158
@juliotnu01 @chas688 This has been fixed via the v1.5.0 update.

[2022-07-20 16:13] #158 closed

[2022-07-20 20:16] alorence opened #225 "Drawer seems missing in the last release dist file"
**Describe the bug**
After updating to 1.5.0, I was not able to use the new Drawer component.
While it is present in node_modules/flowbite/src/components/drawer.js, it does not seems to be included in node_modules/flowbite/dist/flowbite.js.

**Desktop (please complete the following information):**
 - OS: Linux Manjaro
 - Browser N/A
 - Version 1.5.0

**Additional context**
I use pnpm as package in

[2022-07-20 21:55] zoltanszogyenyi commented on #225
Hey @alorence,

Thanks for letting me know.

Big "whoopsie" from my part :)

You can get the Drawer JS starting from v1.5.1.

If something seems off, please let me know!

[2022-07-20 21:55] #225 closed

[2022-07-26 14:07] florian03-1 commented on #69
@tdashworth Great!

I'm on vaccation at the moment, but when I am back, i will take a look.

Should we create a subchannel on the Flowbite discord server, that we can discuss the project?

[2022-07-26 14:09] zoltanszogyenyi commented on #69
Hey @florian03-1, @tdashworth,

I created a subchannel on the Discord server :)

[2022-07-28 15:40] HPODEV commented on #119
new demo with latest css and js version: https://jsfiddle.net/vincenzo_hpo/z9scjduf/ , bug persist with v1.5.1

[2022-07-29 13:54] Collo-V opened #226 ""window is not defined" error when importing flowbite"
Hello guys. I'm excited to use flowbite with my nuxt project but when I import it in my nuxt.config.js file, I get the warning 'window is not defined'. Any help...? Thanks
![flow'Bite error](https://user-images.githubusercontent.com/60650741/181775179-ac841319-4f45-452b-a3cd-d780bddedb45.png)
'

[2022-07-29 18:36] jjagielka opened #227 "Alerts with list"
**Describe the bug**
New example of alerts appeared: `Alerts with list`.

I don't understand why Flowbite.com does not follow it's own coloring standard.
All alerts examples use the flowing colors:
`bg-blue-100 text-blue-700 dark:bg-blue-200 dark:text-blue-800`
`bg-red-100 text-ted-700 dark:bg-red-200 dark:text-red-800`
and the newly added example introduces
`bg-blue-50 text-blue-900`
`bg-red-50 t

[2022-07-31 08:32] Dezmonter opened #229 "Example Nav Drawer (offcanvas)"
Thanks for the great library! Tell me, will you have an example of creating a nav using Drawer (offcanvas) ?

[2022-07-31 08:55] zoltanszogyenyi commented on #229
Hello @Dezmonter,

Thanks for the warm thoughts!

We actually do have a [drawer navigation](https://flowbite.com/docs/components/drawer/#drawer-navigation) which is kind of a sidebar.

Or did you mean something else?

PS: moved this to the discussions page.

[2022-07-31 08:57] zoltanszogyenyi commented on #227
Hey @jjagielka,

You're right, until further notice I'll add the same color configuration as the other alert components.

@robert1508 please check this out for future reference.

[2022-07-31 08:57] #227 closed

[2022-07-31 09:00] zoltanszogyenyi commented on #226
Hey @Collo-V,

Please check out the [Flowbite Vue repository](https://github.com/themesberg/flowbite-vue) and the [Flowbite Vue website](http://flowbite-vue.com/) for Nuxt and Vue 3.

[2022-07-31 09:00] #226 closed

[2022-08-01 08:43] Collo-V commented on #226
Thanks @zoltanszogyenyi

[2022-08-02 07:58] MarcVegas opened #231 "Flowbite js plugin does not work in Vue 3"
**What happened**
There seems to be an issue when using the flowbite plugin package in Vue apps or specifically in this case, a Vue 3 app. Components such as dropdowns and modals just won't work. I made sure to add and import the necessary lines in both the tailwind config and main.js file. Refreshing the browser and restarting the app using `npm run dev` fails to fix issue. When hovering over the

[2022-08-02 16:12] alekstrust commented on #219
Thanks for noticing.

I'm using the toggle inside a dropdown menu. Due to this `for` attribute, the popup was getting closed.

[2022-08-03 10:24] filser89 commented on #88
Yeah, I thought of that too, but couldn't get it to not fire "DOMContentLoaded" twice on the initial load of the page (when "DOMContentLoaded" and "turbo:load" both fire).

[2022-08-03 10:50] kkurcz opened #232 "Make modal close on click outside"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

The property that adds modal toggle functionality on an element is `data-modal-toggle="popup-modal`. Originally it is on a button inside the modal. I added it to the div that is around the modal so that users can just click outside the modal to close.

[code]

However now, when user clicks on the close button, the modal will toggle twice and

[2022-08-04 17:30] pl-jay commented on #231
i had the same issue with Flowbite TailwindCSS with Vue 3 Vite project. I thought it's something wrong with OS(Ubuntu 22.04).

[2022-08-04 17:37] arajdon commented on #231
Same issue for me. I've followed the instructions given on flowbite for vue.

Something that I've noticed, the instruction states: "Configure the template paths inside the tailwind.config.**js** file:"

The file generated by `tailwindcss init -p` is tailwind.config.**cjs** - don't know if this makes any difference.

[2022-08-04 22:15] MarcVegas commented on #231
Thanks for pointing this out. This is not a framework specific issue so I hope this gets fixed soon. For anyone pulling their hair out because of this problem and looking for a solution. Unfortunately, there is no @types/flowbite package published yet at the time of this writing to we can't npm install out way out of this but I found there 2 solutions that will hopefully work. Please take note tha

[2022-08-04 22:18] MarcVegas commented on #231
The file extension won't cause an issue in this case. See @pl-jay comment or new comment in this issue and see if one of the solutions works for you. Hope it helps

[2022-08-05 04:35] pl-jay commented on #231
Using CDN actually didn't fixed the main issue for me, still flowbite components are not usable inside the project.

I only needed the date picker to use inside a form but I cannot the drop-down won't work, but when the code put directly within the
<template> tags it works. I don't whether this is importing issue or not.

Have to go with the workaround suggest by @MarcVegas to fix the npm package

[2022-08-05 09:34] HPODEV commented on #99
connected this issue/discussion : https://github.com/themesberg/flowbite/discussions/214

[2022-08-05 13:37] pl-jay opened #233 "Flowbite Datepicker does not work within components: VueJs"
**Describe the bug**
I'm using Vue 3 project and i needed datepicker inside `form` but datepicker doesn't pop up the date selection section when i click on it, but when the same code block put on inside main component's (App.vue) `<template>` , it works perfectly.

**Expected behavior**
It supposed to work within other components, as it works on the main/entry components

**Desktop (please complet

[2022-08-08 06:58] TsubasaKawajiri commented on #88
You can handle with Turbo Events with application.js as below.

[code]

flowbite.js can export init method for example, initDismiss, initCollapse etc..?
If so, We can handle Turbo Event at application.js as below.

[code]

[2022-08-08 17:57] santyas commented on #51
How do you add className to a component? Example <Accordion.Title className="">

[2022-08-09 00:54] idperez commented on #51
Seeing success using Next dynamic imports:

[2022-08-09 00:57] idperez commented on #51
Seeing success using Next dynamic imports:
Using Next 12.2.4

In my _app.js
[code]

In an app file:
[code]

[2022-08-09 16:03] #200 closed

[2022-08-10 03:34] sgehrman commented on #51
"flowbite-react": "^0.1.5",

still happens. what is the solution?

[2022-08-10 14:28] MicheleJohn opened #234 "Avatar component can't be used properly with next/image"
**Is your feature request related to a problem? Please describe.**
Im using Next.js (^12.x.x) and i found kinda of a limitation to the Avatar component: the *img* prop can accept only a *string* type; why this is a problem? On Next.js i need to use their smart *next/image* component in order to be faster and SEO friendly and in this case is quite impossible, even if i omit the *img* prop on the Av

[2022-08-11 01:34] sgehrman opened #235 "Tooltips are causing a horizontal scroll bar to show on my page."
If I show the tooltip once, it goes away.

How do I fix this?

![gnome-shell-screenshot-T56XQ1](https://user-images.githubusercontent.com/287137/184050302-bc947427-16a8-46ab-ab67-28dc07a28278.png)

[2022-08-11 01:35] sgehrman commented on #235
tooltips on on those numbers in the white bubble thing.

[2022-08-11 01:49] sgehrman commented on #235
![gnome-shell-screenshot-JUOVQ1](https://user-images.githubusercontent.com/287137/184051514-407fde4c-2e06-4d08-8975-a8c678d28d7b.png)

[2022-08-11 01:51] sgehrman commented on #235
left: 2693.21px is the problem.

<div data-testid="tooltip" tabindex="-1" class="absolute inline-block rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700" role="tooltip" id="floating-ui-0" style="position: absolute;top: 411px;left: 2693.21px;"><div class="relative z-20"><div class="flex flex-col items-cente

[2022-08-12 02:44] sgehrman commented on #235
I switched to rc-tooltips....

[2022-08-12 09:22] zoltanszogyenyi commented on #232
Hi @kkurcz,

Thanks for reaching out. This has actually been fixed for the upcoming v2.0 release, ETA is about 2-3 weeks I would say.

There will be two options: `data-modal-static="true"` or false, and by default it will close when clicking outside.

[2022-08-12 12:38] luki922 opened #236 "Drawer flickering"
As in title, drawer flickering when the page loads or is refreshed

How to fix it? I use 1.5.2 version

[screencast-127.0.0.1_8000-2022.08.12-14_34_36.webm](https://user-images.githubusercontent.com/3541269/184355355-cc12a8ec-b0ce-413c-978a-a53d827bc351.webm)
.

[2022-08-12 16:02] clementmas opened #237 "Dropdown offset"
At the moment the dropdown offset is hardcoded to `[0, 10]`.

It would be great to add support for a new data attribute like `data-dropdown-offset="0,10"`.
Or possibly `data-dropdown-offset-x="0"` and `data-dropdown-offset-y="10"`. Easier to parse in the code but I personally prefer the first option.

Meanwhile, the workaround I found was to add Tailwind classes like `!-bottom-2` to override the p

[2022-08-12 17:36] mlapeyre3 opened #238 "Flowbite multi-level dropdown does not display with external resource"
I am working on a simple HTML page using Alpine.js and TailwindCSS (with Flowbite). I have to display a two-level Dropdown button (I followed [this implementation](https://flowbite.com/docs/components/dropdowns/#multi-level-dropdown) from Flowbite) which leverages a simple .json input coming from an external resource.

My first test with the .json input defined directly in the page is working prop

[2022-08-13 08:59] pguardiario opened #239 "Some notes from a react dev"
So I'm a react dev with 2 flowbite pro clients (from my recommendations) right now and I have some notes for the next release:

I've been using html to jsx for this which works great but here's some things you guys can do to make it work better:
<a href="#"></a> => these should be buttons. React linter complains otherwise and it's right.
<a href="/something" target="_blank"> => these should also h

[2022-08-13 18:25] c0ncentus opened #240 "Html Snippet available"
**Is your feature request related to a problem? Please describe.**
My problem is: I dont want copy/paste and waste time to navigate and read ... just "ctrl" and "space"
and have a component to render and customizable

**Describe the solution you'd like**
snippet file to download in the official doc for making on our own concerning command system

**Describe alternatives you've considered**
snippet

[2022-08-15 15:31] jjagielka opened #242 "Click popover bug"
**Describe the bug**
Popover does not disappear correctly.

**To Reproduce**
Steps to reproduce the behavior.

Case 1
1. Go to 'Popover > Triggering'
2. Click on button 'Click popover'
3. Click on button 'Click popover' again
4. Popover doesn't disappear

Case 2
1. Go to 'Popover > Triggering'
2. Click on button 'Click popover'
3. Click on popover body
4. Click outside
5. Popover doesn't disappear

[2022-08-15 15:43] jjagielka opened #243 "Classes for disappearing objects"
**Describe the bug**
Classes for making the visibility switch for popover, tooltip, modal and dropdown are inconsistent.

**To Reproduce**
Classes used for show/hide floating elements:
- popover, tooltip: visible/invisible, opacity-100/opacity-0
- modal, dropdown: hidden, bloc/flex

**Expected behavior**
Any reason for that distinction?

**Additional context**
Working on `flowbite-svelte` and tryi

[2022-08-16 08:01] afozooni opened #244 "Javascript plugins not working at all"
Hi,

I tried to use navbar, tooltips and dropdown menu but their not working at all,
I installed carefully with your document but nothing worked. can you please help me to fix this problem ?

For example, I used your example btu in mobile size, navbar collapse doesn't worked:
[code]

package.json
[code]

tailwind.config.js
[code]

main.js
[code]

[2022-08-16 08:23] zoltanszogyenyi commented on #244
Hi @afozooni,

Are you using it in a Vue project?

[2022-08-16 08:33] afozooni commented on #244
Hi @zoltanszogyenyi ,

Yes I using on vue 3 project

[2022-08-16 12:08] jjagielka opened #245 "popover.js - memory leak"
**Describe the bug**
`popover.js` - eventListeners added mutiple times

[code]

`options.modifiers` is an array, so the above code keep on adding new object at each call of `show()`.

The same mistake is in `hide()` function.

You should change it to something like that:

[code]

[2022-08-16 22:31] afozooni commented on #244
Any help ?

[2022-08-17 20:57] kkurcz commented on #232
Ok great, thanks!

[2022-08-17 20:57] #232 closed

[2022-08-18 06:43] HannesEURESA opened #246 "Tooltip not closing on mobile Device Safari"
The Tooltip is not closing after opeining on mobile Device on Safari Browsers. Also not on your own Site.

**Expected behavior**
Clicking away to close the tooltip. Or is there a way to give the Tooltip a close Button?

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone 11 MPro Max, iPhone 12 pro Max IPhone 13 & 13 pro Max tested]
 - OS: [Latest 15.6]
 - Browser ch

[2022-08-19 19:41] MohammadRahimiAngiz opened #250 "Not Working flowbite at laravel (Inertia+Jetstream) Project"
hi
i create new project in laravel with jetstream & inertia. Unfortunately not working megamenu component
best regard

[2022-08-21 00:05] xiaolin911211 commented on #51
Do we have a solution for flowbite with NextJS yet? alot of the component it does not work still.

[2022-08-21 08:27] MohammadRahimiAngiz commented on #250
not working flowbite.js with laravel vite & Inertia & Vue js 3

[2022-08-21 13:19] BogdanCln commented on #132
Hello @zoltanszogyenyi,

Thank you for this great module.
Will the ```getPrefixedClassName``` be pushed to NPM eventually?  🤞

[2022-08-22 13:15] Tyjow commented on #119
Hi guys,

a quick fix for me, so hope it help you too

[code]

[2022-08-23 04:22] zoltanszogyenyi commented on #244
Please check out the [Flowbite Vue](https://github.com/themesberg/flowbite-vue) library.

[2022-08-23 04:22] #244 closed

[2022-08-23 06:16] jpoechill commented on #131
future reference for Nuxt 3

_plugins/utils.client.js :_

[code]

[2022-08-24 14:18] ollydixon opened #252 "Inaccurate documentation / Svelte"
Trying to get access to the drawer object, have the following code in Svelte.

[code]

But it complains that this is in-fact incorrect, making the drawer unusable.

Complaints from the TS
<img width="593" alt="Screenshot 2022-08-24 at 16 13 56" src="https://user-images.githubusercontent.com/6940726/186442037-ea2e941b-5df7-4f41-b0bc-1f7b5a482404.png">

Documentation says
<img width="502" alt="Scree

[2022-08-25 05:07] djelusive opened #254 "Datepicker dropdown floating at the top left of screen"
flowbite@1.5.2/dist/flowbite.min.css
flowbite@1.5.2/dist/flowbite.js
flowbite@1.5.2/dist/datepicker.js

While using the datepicker plugin within Laravel 8, I've noticed a recent issue where the dropdown floats at the very top left of the screen.

I have been able to resolve this by changing line 1755 within the datepicker.js file.

Changing this:
`elementClass === 'dropdown' ? element.classList.ad

[2022-08-25 08:31] UmbrellaCrow612 opened #257 "Buttons page freezes and has no response"
**Describe the bug**
A clear and concise description of what the bug is.

Visiting the buttons page results in page freeze and error

https://flowbite.com/docs/components/buttons/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://flowbite.com/docs/components/buttons/'
2. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

For buttons

[2022-08-25 09:37] #216 closed

[2022-08-25 09:38] zoltanszogyenyi commented on #216
The [Tailwind CSS Video](https://flowbite.com/docs/components/video/) component has been added.

[2022-08-25 15:50] itsaboutcode opened #258 "how I can use flowbite in react without flowbite-react library"
I did not find any documentation out there which help me use flowbite in reactjs project without flowbite-react library. Just wondering if someone can guide me on how we can do that.

Thanks

[2022-08-25 23:50] CH4R4F commented on #258
If you're using `create-react-app` you should install tailwindcss by [following tailwindcss guide](https://tailwindcss.com/docs/guides/create-react-app)
then install flowbite [following the official docs](https://flowbite.com/docs/getting-started/quickstart/)
now start the react server and use any component you want :D

**Dont's forget to configure the tailwind.config.js file :)**

[2022-08-27 23:05] shinokada opened #259 "relative class needed for Icon HR and Text with HR"
**Describe the bug**
Without `relative` in the parent `div`, Icon HR and Texti with HR won't work.

- https://flowbite.com/docs/typography/hr/#hr-with-text
- https://flowbite.com/docs/typography/hr/#icon-hr

**To Reproduce**
From the doc:

[code]

You need `<div class="relative">`:

[code]

I think there are more where you use `absolute` and  there is no `relative` class in the doc.

[2022-08-28 07:27] spaquet opened #260 "Update the documentation in relation to form inputs on mobile"
iOS (tested and verified) introduced an "auto zoom" feature for form input with input text inferior to 16px. This can be very annoying as the UI is not restored once the focus is removed from the selected input.

To prevent this, the input text should be `text-basic` and not `text-sm` as this is the case right now. I found out that having the following style works as expected: `text-base md:text-s

[2022-08-29 04:26] shinokada opened #261 "Typo in https://flowbite.com/docs/components/tabs/#full-width-tabs"
https://flowbite.com/docs/components/tabs/#full-width-tabs has unnecessary code.
Please remove the following:

[code]

[2022-08-30 04:30] ebarquero85 opened #263 "Click events don't work on dropdowns in React (with vite)"
Hi, this is a example of a vite react app, I try to use a dropdown menu and it doesn't work. I dotn't now what I am doing wrong. Same scenario with other components that need some kind of event with click like tooltip, etc.

https://github.com/ebarquero85/test-flowbite/blob/main/src/App.jsx
https://github.com/ebarquero85/test-flowbite

[2022-08-30 11:51] MattJonesSiteglide opened #264 "Mega Menu - Follows Collapse-like behaviour, when I would expect Accordion-like behaviour"
**Describe the bug**
When using the mega-menu component or block, there is no support in the code for closing one mega-menu when another is closed. I would expect the mega-menu to have an accordion-like behaviour. Currently this isn't visible in the example, because only one menu-item in the example has a dropdown button.

**To Reproduce**
Steps to reproduce the behaviour:
1. Load up an instance o

[2022-08-30 15:40] FractalHQ opened #265 "Add optional chaining to `window` and `document` references"
**Describe the bug**
Flowbite breaks on the server.  It should not assume it's always on the client.

**To Reproduce**
Steps to reproduce the behavior:
1. Pick a modern framework with SSR
2. Try to use flowbite
3. You can't.  `window` or `document` is not defined

**Expected behavior**
It works

**Desktop (please complete the following information):**
All

**Smartphone (please complete the followi

[2022-08-30 21:08] matheus-omena commented on #263
I have the same problem. In your main.tsx, you can make the following changes:
- _import ReactDOM from "react-dom/client"_ by _ReactDOM from "react-dom"_ and
- _ReactDOM.createRoot(document.getElementById("root") as HTMLElement).render(
  <React.StrictMode>
    <App />
  </React.StrictMode>
)_
by
_ReactDOM.render(
  <React.StrictMode>
    <App />
  </React.StrictMode>,
  document.getElementById("r

[2022-08-31 07:19] dimitriharding opened #266 "Unable to use Nested Accordions"
**Describe the bug**
While I am not sure if this is an issue, or maybe it's just a limited with the current Flowbit Accordion. Tried creating nested Accordions and ensuring that all of the ids used are unique and match the correct group of elements, but once you try to click the child  Accordion to open it up, it closes the parent.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to exampl

[2022-08-31 14:29] ebarquero85 commented on #263
@matheus-omena thanks for you solution, I hope it can be fixed in the future. I decided to use other framework https://www.vechaiui.com

[2022-09-01 05:02] Arun9650 commented on #261
I like to work on that issue

[2022-09-01 05:49] Arun9650 commented on #261
so we need to change the option typo with appropriate tab names, am I right?

[2022-09-01 06:14] archonic commented on #88
On 1.5.2 I've got the following:

[code]

I can see the `domcontentloaded event` on every page change, so it's working as intended, but flowbite component JS is not working. Is there a different event I should be dispatching?

[2022-09-01 16:52] popouille commented on #264
Same here:
![image](https://user-images.githubusercontent.com/16504272/187969550-3d1203ba-fb73-45f0-af0e-68e2a0991cbc.png)

[2022-09-01 23:50] cadentic opened #270 "looking to use mui with tailwind css"
I'm always frustrated when i tried to use tailwind with naterial-ui

**Describe the solution you'd like**
i want to use tailwind with material-ui
`<Card sx={{ flexDirection: 'row', maxWidth: 545, borderRadius: "20px", spacing: "125px", boxShadow: "7px", alignItems: 'stretch' , hover:bg - grey - 500 }} elevation={4} position="relative" >
`
**Describe alternatives you've considered**
need to get int

[2022-09-02 13:56] n-tsukiya commented on #236
me, too(I use 1.5.1)

[2022-09-02 15:14] gluzio commented on #236
Me too!

[2022-09-03 12:00] Tom-revere commented on #148
Any update to this? It doesn't appear to be released with the 1.5 update, but really excited to use it once it drops

[2022-09-03 14:43] clementmas commented on #270
This is not a Flowbite issue. Are you in the wrong repo?

[2022-09-05 05:39] shinokada opened #271 "video-dark.svg is missing in the doc"
https://flowbite.com/#components page is missing the video-dark.svg.

![image](https://user-images.githubusercontent.com/147320/188367991-e89ffe19-2461-45e3-a45e-b5162468634e.png)

[2022-09-05 22:07] tdashworth opened #273 "Carousel swipe support"
**Is your feature request related to a problem? Please describe.**
I would like to use the carousel component in mobile app where swipe support would greatly improve the UX.

**Describe the solution you'd like**
Support swiping left and right the cycle through the items.

**Describe alternatives you've considered**
None.

**Additional context**

[2022-09-06 07:13] zoltanszogyenyi commented on #263
Hello everyone,

For React, it's probably best to use the [Flowbite React](https://github.com/themesberg/flowbite-react) library.

[2022-09-06 07:13] #258 closed

[2022-09-07 02:43] marciotoshio commented on #119
Hi everyone, I'm facing this issue and I'm proposing a fix here https://github.com/themesberg/flowbite/pull/274.

[2022-09-07 02:56] dofirfauzi commented on #237
how to overide inline style on dropdown style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(327px, 70px);

[2022-09-07 09:05] Garito opened #275 "Component classes"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I has thinking that flowbite provides component classes (ala bootstrap) instead of using a bunch of tailwind ones

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Instead of ```bg-white bor

[2022-09-08 13:19] jjagielka opened #276 "Dropdowns - format tweaks"
**Describe the bug**
`Dropdown` is like a `List group` merged with `Tooltip` (or rather `Popover`). However it does not look consistent with those:
- rounding: `Dropdown` uses class `rounded` while `List group`, `Tooltip`, `Popover` and even `Card`, `Button`, `Toast` and `Modal` all use `rounded-lg`
- space filling: `List group` fills the parent space fully i.e. first and last item are rounded in

[2022-09-11 10:17] crypt096 commented on #51
Still not working...

[2022-09-12 09:16] zoltanszogyenyi commented on #270
Hey @cadentic,

You can check out [Flowbite React](https://github.com/themesberg/flowbite-react) as an alternative to Material UI + Tailwind CSS.

[2022-09-12 09:16] #270 closed

[2022-09-12 09:25] zoltanszogyenyi commented on #275
Hey @Garito,

This is something that we've decided from the beginning to keep Flowbite a pure Tailwind CSS class library without adding our own class name system on top of it, because it would also beat the purpose of one of Tailwind's main advantages compared to other libraries: not having to remember unique class names other than the utility classes.

That being said, we may at some point launch

[2022-09-12 09:25] #275 closed

[2022-09-12 09:27] Garito commented on #275
Thank
Would be nice if, it happens, someone put the link or a reference here...

[2022-09-12 09:27] zoltanszogyenyi commented on #261
Hello @Arun9650,

Thanks for opening up the issue.

It's not unnecessary code, it's a select input element instead of the tabs showing up on mobile.

<img width="880" alt="Screenshot 2022-09-12 at 12 26 41" src="https://user-images.githubusercontent.com/8052108/189619788-606e61fb-a581-4577-ad61-2122c08a83f6.png">

[2022-09-12 09:27] #261 closed

[2022-09-12 12:00] zoltanszogyenyi commented on #276
Hey @jjagielka,

Thanks for the feedback.

This is something I'll have to pass by the design team.

@robert1508 what do you think?

[2022-09-12 12:00] zoltanszogyenyi commented on #273
Hey @tdashworth,

This is a reasonable request - I'll add it to the v2.0 roadmap.

[2022-09-12 12:02] zoltanszogyenyi commented on #266
Hey @dimitriharding,

I'll check this out. It may be a bug, a limitation of the Accordion API or you may have missed an id or attribute.

I'll get back with this.

[2022-09-12 12:02] zoltanszogyenyi commented on #265
Hey @FractalHQ,

Thanks for bringing this up.

Do you have any specific solution in mind?

I'm not sure I can reproduce this since I haven't yet tried a framework with SSR.

Thanks!

[2022-09-12 12:04] zoltanszogyenyi commented on #264
Hey @MattJonesSiteglide,

That's an interesting use case I haven't thought about -- for some reason I assumed that there would only be one Mega Menu for a navigation bar, which isn't true since you can have more.

I'll think about this and how we can find a better solution for the v2.0 update.

[2022-09-12 12:04] zoltanszogyenyi commented on #260
Hello @spaquet,

Thanks for reporting this. It'll get fixed for the v2.0 update.

[2022-09-12 12:05] zoltanszogyenyi commented on #259
Hello @shinokada,

Thank you for reporting.

Will get fixed soon for the v2.0 update.

[2022-09-12 12:06] zoltanszogyenyi commented on #257
Hello @UmbrellaCrow612,

Thanks for reporting.

Does this always happen or only a couple of times?

I couldn't reproduce myself I'm afraid.

[2022-09-12 12:07] zoltanszogyenyi commented on #252
Issue closed because it was moved to the Flowbite Svelte repo.

[2022-09-12 12:07] #252 closed

[2022-09-12 12:09] zoltanszogyenyi commented on #240
Hello @c0ncentus,

This is an interesting idea. We might actually offer a downloadable ZIP for all the components on a single page.

[2022-09-12 12:10] zoltanszogyenyi commented on #237
Hello @clementmas,

This is a reasonable request and we'll add the offset option to both dropdowns and tooltips.

This option is already available for a newer components such as the [Popover](https://flowbite.com/docs/components/popover/#offset).

[2022-09-12 12:13] zoltanszogyenyi commented on #222
Thanks @KinG-InFeT for the report and @CH4R4F for the solution, I'll check it out and merge it soon.

[2022-09-12 12:14] zoltanszogyenyi commented on #234
Hello @MicheleJohn,

Thanks for reporting the issue.

I believe that it's best to address this with the [Flowbite React](https://github.com/themesberg/flowbite-react) library and move the issue there, if it's still applicable.

Thanks.

[2022-09-12 12:14] #234 closed

[2022-09-12 12:16] zoltanszogyenyi commented on #239
Hello @pguardiario,

Thanks for the feedback.

Makes sense, I'll take a look and update wherever it's applicable. The one with the images I agree with.

We don't have an affiliate program yet, but we'll soon launch a rewards program where you can win credits by recommending new clients, ETA probably towards the end of the year.

Cheers!

[2022-09-12 12:18] zoltanszogyenyi commented on #197
Hello @WenderRocha,

Please give more context and a code example for better debugging and reproduction.

Thanks!

[2022-09-12 12:32] robert1508 commented on #276
Hello there,

When there are no lines between the nav items, additional space must be placed to have visual consistency between the nav items and the dropdown menu itself. But of course, we will also add a variant similar to List group.

[2022-09-12 14:12] jjagielka commented on #276
Even button is rounded-lg and looks strange with rounded only dropdown.

![image](https://user-images.githubusercontent.com/6282254/189676127-a8ec7f91-199e-4a92-ab3a-142d77ad6bad.png)

[2022-09-12 16:27] luki922 commented on #236
Hello @zoltanszogyenyi
I don't have this code anymore, but add the code from component: [Drawer](https://flowbite.com/docs/components/drawer/)
Only at the moment of refreshing/reloading does this problem occur. I think there is a solution: https://github.com/themesberg/flowbite/pull/228 but you need to check it

[2022-09-13 00:49] pguardiario commented on #239
Thanks! That 2nd one should have been rel="noreferrer"

[2022-09-13 08:30] UmbrellaCrow612 commented on #257
Hi it seems to be a chrome extension i had, i removed it and it works now, i will close the issue now.

[2022-09-13 08:30] #257 closed

[2022-09-13 12:56] zoltanszogyenyi opened #281 "Integrate with TypeScript"

[2022-09-13 12:56] zoltanszogyenyi opened #282 "Streamline the NPM publishing process"
Research and integrate methods to streamline the NPM publishing process.

[2022-09-13 12:57] zoltanszogyenyi opened #283 "Minify the CDN CSS and JavaScript files when building"

[2022-09-14 04:31] dofirfauzi commented on #237
can you add option to set position, absolute or relative, i need to change that base on screen width.
like in bootstrap navbar dropdown, in mobile position is relative but in desktop position absolute.

thanks.

[2022-09-14 08:32] q4q0 commented on #250
same issue here.
it doesn't work....

[2022-09-14 12:25] q5p0q5p opened #284 "modal & dropdown menu not working."
interia js & laravel 9

[2022-09-14 12:51] FractalHQ commented on #265
Usually this is as simple as optional chaining any calls to window or document, or checking if typeof window != undefined.  It would be ideal if flowbite could be rendered to a page without relying on client side browser apis because some websites opt out of client side hydration altogether when using ssr (or alternatively, when pre-rendering pages at build-time).

If it helps, I can make a simple

[2022-09-14 13:08] MiroslavMikus commented on #69
Hey, amazing library :heart_eyes:
Is there any new info about the support for Blazor? Is there anything I could do?

[2022-09-14 13:23] florian03-1 commented on #69
Hey,

i was very busy last time, but I will start soon with the implementation. Your help would be amazing.
Do you want to join the discord server and talk with us about the project?

[2022-09-14 13:44] sonyarianto commented on #148
How to associate backdrop with particular modal? I think this is important because now when I inspect this will cause conflict when we have multiple modal (stacked) with different z-index settings on each backdrop.

[2022-09-14 13:49] KinG-InFeT commented on #284
can you write a html with example code?

[2022-09-14 13:51] KinG-InFeT opened #285 "add html contents and manage/update contents into tooltips"
DOCS: https://flowbite.com/docs/components/tooltips/#tooltip-styles

add html contents and manage/update contents into tooltips

[2022-09-14 18:02] tdashworth commented on #69
Hey @MiroslavMikus, thanks for your interest. I did make a start but didn't get too far with other priorities...

I'm still very interested, selfishly for a personal project or two, so I'll keep you posted with progress. I would recommend joining discord to hear the latest 😀

[2022-09-14 22:19] vinksz commented on #131
You need to add flowobites js into ur tailwind cfg content section for interactive stuff to work

[code]

[2022-09-15 06:03] Rodeoclash commented on #88
Also getting this with Phoenix LiveView, I assume for the same reasons.

[2022-09-15 11:11] vinksz commented on #131
using cdn throws errors like this , seems to be compiler issue then

 WARN  flowbite doesn't appear to be written in CJS, but also doesn't appear to be a valid ES module (i.e. it doesn't have "type": "module" or an .mjs extension for the entry point). Please contact the package author to fix.

√ Server built in 1129ms

[2022-09-15 11:13] vinksz commented on #131
WARN  flowbite doesn't appear to be written in CJS, but also doesn't appear to be a valid ES module (i.e. it doesn't have "type": "module" or an .mjs extension for the entry point). Please contact the package author to fix.

√ Server built in 1129ms

[2022-09-15 15:16] egze commented on #88
For LiveView the fix is similar:

[code]

[2022-09-15 17:49] kannyekong opened #289 "Carousel component not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-09-16 03:08] thiendang-webtretho commented on #51
It's working for me

on your _app.js add:

[code]

[2022-09-16 03:09] thiendang-webtretho commented on #51
It's working for me

on your _app.js add:

[code]

[2022-09-16 03:10] thiendang commented on #51
It's working for me

on your _app.js add:

[code]

[2022-09-17 11:06] crypt096 commented on #51
`useEffect(() => {
    import('flowbite')
}, [])`

What about TypeScript since this one is throwing an error?

[2022-09-17 12:31] bacali95 commented on #51
I have to say that using the react library of flowbite you don't need to import the main js library (just the style import is needed) because most of the js logic is already implemented using react api(modal, carousel,...etc)

[2022-09-20 16:48] shane-hoving-pc commented on #236
@zoltanszogyenyi

I'm also experiencing this same flickering. The drawer code we're using is below. And we have flowbite included via CDN

`<div class="text-center">
<button class="text-primary px-5" type="button" data-drawer-target="drawer-example" data-drawer-show="drawer-example" aria-controls="drawer-example">TGF Links</button>
</div>
<div id="drawer-example" class="fixed z-40 h-screen p-4 ove

[2022-09-20 16:54] shane-hoving-pc commented on #236
@zoltanszogyenyi I'm experiencing the same issue. I'm using the default drawer on my [TailPress](https://tailpress.io/) site and I have Flowbite included via CDN. https://flowbite.com/docs/components/drawer/

[2022-09-23 01:22] SakarDev opened #291 "Table rowSpan breaks the table"
I was trying to add rowSpan attribute to `<td></td>` but the style of the table has broken.

[2022-09-23 20:30] shinokada opened #292 "Using the dialog element for alert, modal or other subwindow."
We had a dicussion in Flowbite-Svelte, https://github.com/themesberg/flowbite-svelte/issues/311 about using the [dialog HTML element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog).

For the next version of Flowbite, how about start using the `dialog` element?

[2022-09-23 22:59] dmbrooking opened #293 "Drawer backdrop not clearing when click outside of drawer to close"
**Describe the bug**
I copied and pasted the code from https://flowbite.com/docs/components/drawer/#drawer-navigation and in Chrome, when I click the button to open the drawer, I see that it creates two backdrops.

<img width="588" alt="image" src="https://user-images.githubusercontent.com/128946/192066815-944f958c-89da-422c-8bb5-ded32eafc185.png">

When I close the drawer by clicking outside of t

[2022-09-27 05:35] GempitaRizki opened #295 "Bug"
Array, so the above code keep on add new object at each call of show().

[2022-09-27 05:36] #295 closed

[2022-09-27 10:35] shinokada opened #296 "Tooltip arrow outline is not visible"
**Describe the bug**

All light tooltip arrow has no border.

**To Reproduce**
Go to the [tooltip page](https://flowbite.com/docs/components/tooltips/#default-tooltip-example)

**Expected behavior**

Have a border.

**Screenshots**

![image](https://user-images.githubusercontent.com/147320/192503201-1c89853a-6a72-43bd-97cb-fd5b5b61f898.png)

**Desktop (please complete the following information):**

[2022-09-27 21:12] VictorJuez commented on #160
Same problem here, I'm using Vue. Could you please share more details on how you solved it? Thanks!

[2022-09-27 21:59] VictorJuez commented on #160
Okay, so what I did to make it work is to create the Modal with Javascript (check [here](https://flowbite.com/docs/components/modal/#javascript-behaviour) the flowbite documentation) instead of using this `data-modal-toggle="defaultModal"` property defined in the html component.
Find below an example with Vue3 Single File Component. For other frameworks the solution should be similar.

[code]

[2022-09-28 01:08] dimunyo commented on #131
Im currently having the same issue

[2022-09-30 20:28] normandanielmq commented on #197
Same here, parameter userOptions is expected for a modal so it crashes on undefined.

[2022-10-01 06:40] Daedra22 commented on #131
Same issue, works in dev but not in prod.
This is so exhausting with nuxt 3 everything is buggy, first nuxt-img now this.
Why you advertise it so extremely if it barely works...

[2022-10-02 18:43] oleg-agapov commented on #231
Can confirm, as of now (Oct 2) the official way of integration doesn't work with Vue 3.

Had to go with CDN inclusion directly to HTML, and this way it works.

The option with creating `globat.d.ts` file didn't work in my case, dunno why.

[2022-10-03 01:33] dmf3030 opened #301 "Modals going full screen at smaller widths"
Its possible this is not a bug, but an intended behavior, though I don't know why it would be intended.

Modals carry this styling

<div class="relative p-4 w-full max-w-2xl h-full md:h-auto">

This means modals at mobile widths are defaulting to full height, which in most cases looks off, or at least is not a behavior I would prefer as default. Ideally this can be passed as a prop, left default f

[2022-10-04 17:06] nguyentienlinh2611 opened #303 "Flowbite doesn't work as follow setup from documentation"
**Describe the bug**
I follow this instruction [https://flowbite.com/docs/getting-started/vue/](https://flowbite.com/docs/getting-started/vue/) and setup my new project. But seem flowbite doesn't working until I add script tag to import flowbite from html file.

[2022-10-04 22:36] crypt096 commented on #273
Please fix this asap.

[2022-10-05 18:24] VarProg commented on #88
Please help me, how to use Flowbite and Turbo Rails 7 with import map?
I use Flowbite v.1.5.3 as here https://flowbite.com/docs/getting-started/rails/

I change "DOMContentLoaded" on "turbo:load" in dist/flowbite.js and in vendor/javascript/flowbite.js, but it's not work for me, my scripts work only if reload page

[2022-10-05 23:03] VarProg opened #305 "Flowbite and Turbo Rails 7 with import map"
Please help me, how to use Flowbite and Turbo Rails 7 with import map?
I use Flowbite v.1.5.3 as here https://flowbite.com/docs/getting-started/rails/
and tailwindcss

I change "DOMContentLoaded" on "turbo:load" in dist/flowbite.js and in vendor/javascript/flowbite.js, but it's not work for me, my scripts work only if reload page

[2022-10-10 20:16] tdashworth commented on #273
This seems to work already (at least using react) and therefore closing.

[2022-10-11 18:33] rdotchin opened #306 "Flowbite DatePicker Requires Adding Classes to `tailwind.config.js` Safe List"
**Describe the bug**
We are currently utilizing the flowbite datepicker in a nuxt project that has `tailwindcss^3.1.8` via `@nuxtjs/taiwlindcss`. For the DatePicker component to work it requires adding `hidden` and `grid-cols-7` to our `tailwind.config.js` `safelist`.

**Expected behavior**
The Ability to utilize the DatePicker component without having to adjust our applications `tailwindcss` `saf

[2022-10-12 10:56] clementmas opened #307 "Migrate Popper JS to Floating UI"
Hello! Have you considered migrating the underlying dropdown and popover code to use the latest version of Popper JS, now named Floating UI?

Here's the migration guide: https://floating-ui.com/docs/migration

I'm extending some of Flowbite's components and I'd rather work with the latest version and documentation.

Thanks!

[2022-10-13 04:22] indigodavid commented on #88
@VarProg I was having the same issue, and tried the solutions above with no success. Nevertheless, after checking a lot of similar problems I found something that might be helpful for us using Flowbite with Rails 7 as a temporary solution.

On your application.js add the following lines:

[code]

According to the turbo.hotwired.dev handbook:

I also tried just setting the interactive element as `d

[2022-10-13 10:13] sayinmehmet47 opened #308 "Dropdown menu is not open when passing onclick event to Dropdown component"
I have passed onclick event to Dropdown to understand if dropdown is open or not.

[code]
But when I pass onclick to that component, I cant not close the dropdown

![image](https://user-images.githubusercontent.com/75525090/195569842-cebd5df0-d769-4aad-9bda-dbebc37d630f.png)

Is there any other way to find if dropdown open or close??

[2022-10-13 11:36] Valar103769 opened #309 "how to fixed the first or end column in table"

[2022-10-13 19:51] dancaron commented on #306
Also experiencing this issue.

[2022-10-13 20:28] volp99 commented on #303
Hey @nguyentienlinh2611, which version of Vue are you using?

[2022-10-14 04:01] nguyentienlinh2611 commented on #303
I'm using vue 3, just follow the document, then add a button to pop up the modal, but it does not work till I add script flowbite at the end of body element on html file

[2022-10-14 07:39] volp99 commented on #303
Did you try to follow this documentation?
https://flowbite-vue.com/pages/getting-started.html

[2022-10-15 05:06] yasirse commented on #308
similar error occurred with me. any guide?

[2022-10-16 10:54] the-overdriven opened #310 "[Docs bug] example code for modals use different classes than in reality"
If someone copy-pastes the example code from https://flowbite.com/docs/components/modal/ it will produce different result than in your docs.

Modal classes in reality:` overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full justify-center items-center flex`

Modal classes from your html code: `fixed h-modal left-0 md:h-full md:inset-0 overflow-x-hidden overf

[2022-10-17 16:40] nguyentienlinh2611 commented on #303
I did, but it still did not work. I see some people have the same problem as me [https://stackoverflow.com/a/74041105](https://stackoverflow.com/a/74041105). Is this an omission in the documentation?

[2022-10-17 18:09] anshuman61 commented on #51
use the Next page component on each file you are using

`import type { NextPage } from "next"`

and extend at every component file you are using

`const DemoComponent :NextPage = () => {
return (<></>)
}`

[2022-10-18 13:46] yiyasha15 commented on #284
not working for me too..

[2022-10-18 17:58] cswinslow commented on #236
It occurs using the code copied directly from any of the component examples. Flowbite, in my project, in being loaded at the head, but I've already tried from the bottom of the body just to make sure it wasn't a loading issue.

The only was I was able to resolve the flickering issue, without introducing any code to the page using the Drawer, was by adding the `hidden` class to my Drawer component:

[2022-10-19 03:41] samuelsteven0902 commented on #91
what is ur solution ?

[2022-10-19 18:45] johngouf opened #312 "Use flowbite in a react project without flowbite-react"
### Discussed in https://github.com/themesberg/flowbite/discussions/311

<div type='discussions-op-text'>

<sup>Originally posted by **johngouf** October 19, 2022</sup>
Hi! I was looking for some guidance about how to setup a react project created with create-react-app without using flowbite-react.
Many thanks!</div>

[2022-10-21 22:26] balex25 opened #313 "Javascript error on data-dropdown-placement"
**Describe the bug**
When I set data-dropdown-placement to bottom-right | bottom-left, as I want the dropdown menu to go down of button, and don't get position on center.

Console log error: "Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'x')".

**To Reproduce**
Steps to reproduce the behavior:
1. Make a dropdown
2. Set data-dropdown-placement="bottom-right" on drop

[2022-10-22 07:08] timiosaze opened #314 "Checkbox advanced layout"
It is not rendering according to the docs and i am a pro user

<h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Choose technology:</h3>
<ul class="grid gap-6 w-full md:grid-cols-3">
    <li>
        <input type="checkbox" id="react-option" value="" class="hidden peer" required="">
        <label for="react-option" class="inline-flex justify-between items-center p-5 w-full text-gr

[2022-10-22 15:19] #312 closed

[2022-10-23 08:32] learn05 commented on #175
any fixes for this Bug, i face it for 1 Slide?

[2022-10-23 16:47] curtgrimes commented on #231
I think this happens because the Flowbite JS [only runs once on DOM ready](https://github.com/themesberg/flowbite/blob/main/src/components/modal.js#L156), and elements like a button to trigger a modal might not exist at that point.

For now I've done this in a Vue component:

[code]

[2022-10-23 16:47] curtgrimes commented on #197
I think this is related to #231. See https://github.com/themesberg/flowbite/issues/231#issuecomment-1288152356

[2022-10-24 17:58] samuelstroschein commented on #130
The issue persists with v1.5 of flowbite.

[2022-10-26 09:35] shinokada commented on #80
See [https://flowbite-svelte.com/](https://flowbite-svelte.com/). It shows sidebar menu for a wide screen and close it for a smaller screen.
You can see the code in [+layout.svelte](https://github.com/themesberg/flowbite-svelte/blob/main/src/routes/%2Blayout.svelte).
I'm on the process of writing how to do it for a blog post and let you know once it is done.

[2022-10-26 21:43] shinokada commented on #80
Meanwhile, have a look at this [repo, flowbite-sveltekit-responsive-sidebar-layout](https://github.com/shinokada/flowbite-sveltekit-responsive-sidebar-layout).

You can find [demo](https://flowbite-sveltekit-responsive-sidebar-layout.vercel.app/).

[2022-10-27 13:29] PadowYT2 opened #316 "More JS to Toasts"
It would be cool if Flowbite had for example, show toast onclick, unlimited amount, doesn't need HTML - just JS & CSS

Like Toastr.js or Fomantic UI Toasts has

*No response*

**Additional context**
*No response*

[2022-10-28 16:39] 23tux commented on #226
I don't use Vue or Nuxt.js so far, but I guess I have the same error, although in a slightly different combination:

Rails app with the vite_ruby gem and WindiCSS instead of Tailwind. This is my `windi.config.ts`:

[code]

When I start the dev server with `bin/vite dev` everything works in the browser (styles, dropdowns...). But as soon as I run `bin/vite build` I get the same error as OP:

[code]

[2022-10-30 12:58] LKABDo commented on #233
same issue did you find a solution @pl-jay ?

[2022-10-30 17:29] IvanGodinez21 commented on #131
I guess I found a temporary solution, just import everything (*)

It worked for me in dev and production

[code]

[2022-10-30 20:57] lanluu opened #319 "Failed by using React Component"
Hi Flowbite Team,

by importing any Component in my React App e.g. `import { Button } from 'flowbite-react';`, I receive the following error:

[code]
Could you please help to resolve such issue? Thank you very much!

[2022-10-31 14:44] zoltanszogyenyi commented on #314
Hello @timiosaze,

Can you please give a more explicit description of how it is not rendering?

A screenshot would be helpful including your browser and OS.

[2022-10-31 14:44] zoltanszogyenyi commented on #313
Hello @balex25,

Thanks for reporting - I'll check this out for the next update.

[2022-10-31 14:48] #309 closed

[2022-10-31 14:49] zoltanszogyenyi commented on #303
Hey @nguyentienlinh2611 @volp99,

Please refer to this repository if you want to use Flowbite with Vue 3. It's currently still in progress, but it's the best way to use it if you want to have the interactive components work with routers.

https://github.com/themesberg/flowbite-vue

Thanks!

[2022-10-31 14:49] zoltanszogyenyi commented on #303
I'll keep the issue open because we will also update the our own docs page for Vue 3.

[2022-10-31 14:50] zoltanszogyenyi commented on #316
Hello @PadowYT2,

Thanks for the feedback - I'll consider this in the next update.

[2022-10-31 14:51] zoltanszogyenyi commented on #307
Hello @clementmas,

That's a great idea - I'll do that for the next major update. Meaning v2.0.

[2022-10-31 14:52] zoltanszogyenyi commented on #296
Hello @shinokada,

Thanks for reporting, I'll fix this in the next minor release.

[2022-10-31 14:54] zoltanszogyenyi commented on #293
Hello @dmbrooking,

Thanks for reporting.

Are you sure there is only one drawer present on the page? Is there an online demo of your code that I can check out?

Thanks!

[2022-10-31 14:55] zoltanszogyenyi commented on #284
Hello @q5p0q5p, @KinG-InFeT, @yiyasha15,

Can you please provide more context for this issue?

Thanks!

[2022-10-31 15:16] timiosaze commented on #314
It is working now. Thanks

On Mon, Oct 31, 2022, 3:44 PM Zoltán Szőgyényi ***@***.***>
wrote:

[2022-10-31 15:17] #314 closed

[2022-10-31 15:23] zoltanszogyenyi commented on #301
Hello @dmf3030,

This is an automatic feature to enable scroll when most of the time the content inside the modal is longer than the viewport itself. On the other hand, it would probably be better to set this programmatically, so I'll try to push through a feature where you can manage it via data attributes / API.

[2022-10-31 15:23] zoltanszogyenyi commented on #292
Hello @shinokada,

I'll have a good look at this. Thanks for reporting!

[2022-10-31 15:25] zoltanszogyenyi commented on #243
Hello @jjagielka,

The reason for this is that some of the elements have a fade-in / fade-out effect.

On the other hand, I believe that for the v2.0 launch we will introduce custom animations which will mean an overhaul over these classes.

[2022-10-31 15:26] #197 closed

[2022-10-31 15:40] zoltanszogyenyi opened #321 "New component: Speed Dial"
Create a new component based on the Speed Dial design from the Figma file.

[2022-10-31 18:15] KinG-InFeT commented on #284
this is a test: https://jsfiddle.net/1kosebzL/1/ but works correctly, @q5p0q5p can you explain the problem?

[2022-11-01 12:46] jjagielka commented on #243
**Note!** HTML now support `hidden` as `HTMLElement` attribute: https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/hidden

[2022-11-01 14:29] Eboubaker opened #322 "Add option to collapse all code on the page in the website."
**Is your feature request related to a problem? Please describe.**
on the website there are some pages with large content, like the tables page https://flowbite.com/docs/components/tables/ it is hard to scroll throw all the text to see which design is good,

**Describe the solution you'd like**
add option(button toggle maybe) to collapse all the templates code only keep the final result visible, t

[2022-11-01 14:48] zoltanszogyenyi commented on #322
Hey @Eboubaker,

This is a good idea - it has been requested previously.

I'll develop this feature for the `v1.5.4` release.

[2022-11-01 15:10] Eboubaker commented on #322
Thank you chad.

[2022-11-03 07:07] AyanavaKarmakar opened #323 "DOCS: Operators barely visible in Dark Mode Switcher Code Snippet"
**Describe the bug**
The operators in this [code snippet](https://flowbite.com/docs/customize/dark-mode/#dark-mode-switcher) are barely visible in dark mode, as compared to other code snippets.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://flowbite.com/docs/customize/dark-mode/#dark-mode-switcher'
2. Click on the `Toggle Dark Mode` button

**Expected behavior**
The operators

[2022-11-04 04:09] rafaeldsousa commented on #131
_Experiencing a strange issue._

I could get Flowbite setup and running on Nuxt 3, both via plugin or adding it via `nuxt.config.ts` script.

My problem is that everything works fine, as long as I don't navigate to another view. When navigating to another view, or just forward and back to where I came from, the library doesn't seem to pick up on the change and doesn't try to initiate the component

[2022-11-05 10:10] edhenderson opened #325 "Mismatch between displayed code and copied code"
When I click copy on https://flowbite.com/docs/components/carousel/#indicators, I get:

[code]

But the code on the page is:

[code]

As you can see the classes for _Item 1_ are different. Is this deliberate?

[2022-11-06 01:40] sevos commented on #88
Hey, IMHO this change introduced the bug https://github.com/themesberg/flowbite/commit/87a0c75d740c4e00739a91fe0167e39b35b1947b

[2022-11-06 17:59] akhildotgupta opened #326 "Integrating Flowbite with Django : Error"
I have followed the exact instructions to integrate Flowbite with Django as per this link https://flowbite.com/docs/getting-started/django/

I was able to get things integrated, but the elements on the screen like Navbar is not coming properly. Can someone advise what can be done?

I have attached the screenshot of the view that I am getting.
![Screenshot 2022-11-06 at 11 27 29 PM](https://user-im

[2022-11-06 23:27] Mghobadid commented on #236
I fix this issue :

[2022-11-06 23:38] Mghobadid commented on #236
I inspired this method from bootstrap offcanvas hope help you.
1-replace _getPlacementClasses function content in drawer.js by this
`switch (placement) {
            case 'top':
                return {
                    base: ['top-0', 'left-0', 'right-0'],
                    active: ['transform-none', 'visible'],
                    inactive: ['-translate-y-full']
                }

[2022-11-07 02:15] rafaeldsousa opened #327 "Plugin does not reinitialise components on view/page change. Only works on full browser reloads."
_Experiencing a strange issue._

I could get Flowbite setup and running on Nuxt 3, both via plugin or adding it via `nuxt.config.ts` script.

My problem is that everything works fine, as long as I don't navigate to another view. When navigating to another view, or just forward and back to where I came from, the library doesn't seem to pick up on the change and doesn't try to initiate the component

[2022-11-07 02:23] vladiim commented on #88
I ended up using [stimulus](https://stimulus.hotwired.dev/) to set up Flowbite functions. The example below is for a Dropdown element's functionality.

### app/views/shared/_nav.html.erb
[code]

### app/javascripts/controllers/dropdown_controller.js
[code]

### app/javascripts/application.js
[code]

[2022-11-07 13:29] sevos commented on #88
This is a really great idea! Thank you @vladiim !

[2022-11-10 23:45] akhildotgupta commented on #326
This is solved. I did not compile tailwind after changes. Realised I have to do that again after every change.

[2022-11-10 23:45] #326 closed

[2022-11-15 11:17] zoltanszogyenyi commented on #323
Hello @AyanavaKarmakar,

Thanks for the issue. I'll have this fixed for the `v1.5.4` release today.

[2022-11-15 11:18] zoltanszogyenyi commented on #325
Hello @edhenderson,

I'll have a look at this today. Thanks!

[2022-11-15 11:21] #323 closed

[2022-11-15 11:22] zoltanszogyenyi commented on #321
Speed dial component if finished and scheduled for `v1.5.4` release.

[2022-11-15 11:22] #321 closed

[2022-11-15 11:23] zoltanszogyenyi commented on #124
This has been addressed and will be released today for `v1.5.4`.

[2022-11-15 11:23] #124 closed

[2022-11-15 11:24] zoltanszogyenyi commented on #148
This has been addressed and will be released in today's `v1.5.4` update.

[2022-11-15 11:24] #148 closed

[2022-11-15 11:33] zoltanszogyenyi commented on #310
Fixed for the `v1.5.4` update via the https://github.com/themesberg/flowbite/commit/c699f09850cd0cca2878c333eaf2462afa7bfaff commit.

[2022-11-15 11:33] #310 closed

[2022-11-15 11:34] zoltanszogyenyi commented on #325
Fixed for the `v1.5.4` update via the https://github.com/themesberg/flowbite/commit/c699f09850cd0cca2878c333eaf2462afa7bfaff commit.

[2022-11-15 11:34] #325 closed

[2022-11-15 11:39] zoltanszogyenyi commented on #219
Fixed in `v1.5.4` update with this commit https://github.com/themesberg/flowbite/commit/88237cf66bd1e6ce0267a23f82cba1fc908f11b6.

[2022-11-15 11:39] #219 closed

[2022-11-15 13:20] zoltanszogyenyi commented on #322
Hey @Eboubaker,

This has been fixed for `v1.5.4`. Here's a preview:

<img width="910" alt="Screenshot 2022-11-15 at 15 19 35" src="https://user-images.githubusercontent.com/8052108/201929599-37a37352-303f-442b-846a-c219582b04d7.png">

It only applies to elements exceeding `h-72` height.

[2022-11-15 14:41] ajayexpert opened #331 "dropdown is not working on dynamically create content using jquery"
**Describe the bug**
I have added one element using jquery that has a dropdown but it's not working, when I am clicking on the button it's not showing the dropdown.

I am using CDN to add flowbite js.

[2022-11-15 14:55] KinG-InFeT opened #332 ""carousel" doesn't work if we set up a slide divided by 3 items"
**Describe the bug**
if you set the slide with 3 elements (or in any case greater than 1) the component is not able to go forward from slide to slide.

**To Reproduce**
Demo code: https://jsfiddle.net/vincenzo_hpo/18pgrdm7/6/

[2022-11-15 15:24] Eboubaker commented on #322
Navigation is much ewsier now, thank you.

[2022-11-15 17:14] matthewhutchings opened #333 "Copy examples always in darkmode"
https://flowbite.com/docs/components/card/

when the website defaults to darkmode, it is no possible to copy light version of the code. Everything rendered is dark and the toggle for the component and the website does not affect this.

[2022-11-15 19:12] littledot opened #334 "[Vue3 + Flowbite] data-collapse-toggle does nothing on a fresh install"
**Describe the bug**
Did a fresh install of Vue3 + Flowbite and couldn't get Navbar's data-collapse-toggle to work on mobile screens.

**To Reproduce**
Steps to reproduce the behavior:
Pull the project:
[code]
Open in browser and force mobile screen
Click on the hamburger button
Observe that nothing happens

**Expected behavior**
Overflow menu should appear.

**Screenshots**
If applicable, add scr

[2022-11-15 19:14] littledot commented on #334
Worked after adding the <script> tag

[2022-11-15 19:14] #334 closed

[2022-11-15 19:18] littledot commented on #303
I encountered this issue as well. I followed the Vue-specific docs so I didn't add the script tag. If the script tag is important it should be pasted on framework-specific page as well.

[2022-11-16 12:27] DonkeyKongJr opened #335 "Modal dialog not showing when placed behind angular router-outlet"
**Describe the bug**
We are using a modal dialog, which is shown via the **_data-modal-toggle_**, which is working fine as long as the component is not loaded via the angular router-outlet.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Angular App (v14)
2. Add Flowbite
3. Add routes
4. Add a `<router-outlet></router-outlet>`
5. Create a component which holds the modal dialog
6. Plac

[2022-11-17 07:48] Lucasvo1 opened #336 "How to import flowbite.js locally and keep it across all routes"
I am trying to import the flowbite.js script into my next.js project. The only way I can have it work somewhat is via CDN in _app.js but after hot-reloading the script does not work anymore.

[2022-11-17 09:02] syazre commented on #237
Hello @zoltanszogyenyi, is there any update on offset option for dropdowns? Thanks.

[2022-11-17 17:24] dimunyo commented on #131
Does your Datepicker works? Mine does not work Properly

[2022-11-19 03:11] mwalkowiak commented on #305
for me anything above `1.5.0` doesn't work as I was playing with Rails 7 importmap setup

[2022-11-19 16:37] astrexxx opened #338 "Can i customize active tab's background color, text color or other css?"
I am using the interactive tabs component but i want to customize the active tab, how can i achieve it?
[interactive tabs in docs](https://flowbite.com/docs/components/tabs/#interactive-tabs)

[2022-11-25 19:48] akhil-naidu opened #341 "Flowbite blocks as React Components"
I see an npm package under the name `flowbite-react`, which can be used in react projects and provides all the non-pro features listed in flowbite docs.

I would like to know if there is a possibility/roadmap of having the same block-based components, i.e., the Application UI, Marketing UI, etc. In react format rather than not just in HTML.

[2022-11-27 04:28] mwalkowiak opened #342 "Flowbite is not properly working for > 1.5.0 under Rails 7 with importmaps"
I had my Rails 7 setup with tailwind and flowbite. I introduced some flowbite components like menu, dropdown etc and it stops working for a version greater than 1.5.0.

I am seeing these errors below, but I am not sure if they are related:

[code]

[2022-11-28 19:07] joaovitorcorrea06 opened #344 "Error with JS features"
Hello,

I'm starting a project in React with tailwind css and flowbite, so i made all the installations but when i try to use some components with JS they doesn't work. A example is the Drawer, i get the code example from the site and only appears the drawer static in the screen and the button but if i click, nothing happens.

Already imported the script in the index.html

`      <script src="../p

[2022-11-29 06:59] shakhzodmax commented on #160
I tried you solution. But in my case it doesn't work.
Output: Modal is not defined

[2022-11-29 13:12] wahabshah21 opened #345 "Is there a way to add classes to the flowbite-react components"
Is there a way to add classes to the flowbite-react components? I am using tabs component and I would like to change the style according to my own requirements. Is it possible to do so?

I have not found anything yet and className doesn't work on Tabs.Item or Tabs.Group. Kindly point me in the right direction whether it is possible or not or if there is a way to handle it.

[2022-11-29 22:38] qirpi commented on #305
I think you may need to pin an earlier flowbite version — like @mwalkowiak said the fix outlined in #88 only works on flowbite versions up to `1.5.0`, so try running the following in your rails project folder:

`./bin/importmap pin flowbite@1.5.0` --download`

Then make sure to go back and replace all the `DOMContentLoaded` in `vendor/javascript/flowbite.js` with `turbo:load`, like before, as the

[2022-11-30 16:22] potkot commented on #231
Faced the same problem. I am using vue-router.
The components in the routes were specified like this:
`component: () => import('../components/auth/TheLoginPage.vue'),`
The flowbite dynamic components worked when I changed the component in the route to:
[code]

[2022-11-30 20:20] rafabulsing opened #347 "Nested lists don't indent properly"
Nested lists don't indent properly. They should indent by default, but when including Flowbite, all items are shown with 0 indentation, as if it was a flat list.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
The list show be correctly indented.

**Screenshots**
Actual:
![image](https://user-images.githubusercontent.com/40143958/204899276-77397bd9-5bfd-43bc-acbc-

[2022-11-30 20:46] aschenkuttel opened #348 "Making the Dropdown Button accessible"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I used the React Components for the Dropdown and it's pretty annoying that you're not able to change the button style. Yes the label but I want to force a specific height in my case and have to resort to hidden placeholders

**Describe the